
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <a href="/VideoConference/StartMeeting" class="btn btn-primary">Start Meeting</a>
    </div>
    <div class="col-md-4">
        <a href="/VideoConference/JoinMeeting" class="btn btn-primary">Join Meeting</a>
    </div>
</div>

