
@{
    ViewData["Title"] = "Angular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

<div class="container" style="padding-top: 80px; text-align: justify; font-size: 14px; font-family: 'Bookman Old Style'">
    <img src="~/assets/images/angular1.jpg" style="height:300px;width:100%" />


    <h4 style="margin-top:2%;text-align:left">

        Annually over 800 students master the Power BI Course, propelling themselves into prominent positions within the IT industry.
    </h4>
    <div>
        <p>
            Angular components are the building blocks of an application. These components are associated with a template and they define different aspects of the user interface. In this Angular tutorial, you will learn about the different Angular components and will be able to create your first Angular component. You will also learn in this Angular tutorial about component decorator metadata that provides information about the component.
        </p>
        <p>
            Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your applications.
        <p>
            The architecture of an Angular application relies on certain fundamental concepts. The basic building blocks of the Angular framework are Angular components.
        </p>
        Entrepreneurs have preferred using Angular for building strong scalable web applications because of its efficiency, fast development speed, and ease of integration with other platforms
        <p>

        </p>
        <p><b>Angular Features</b></p>
        <p>
            <b>Start quickly:</b>
            You can start small knowing that Angular's tools support your apps as they grow. Learn more
        </p>

        <p>
            <b>Enterprise capable:</b>
            Angular supports you with an opinionated platform as your team and apps grow. This allows you to build testable, and scalable user interfaces that perform well as they grow.
        </p>
        <p>
            <b> Predictable releases:</b>
            Angular's predictable release schedule and update tools help you keep your app up-to-date with the latest advancements in the framework and the web platform
        </p>
    </div>
    <div>
        Explore boundless career prospects with our Angular Course at CIIT Training Institute.</p>
        <p>
            At CIIT Training Institute, our comprehensive Angular Course is tailored to suit individuals at every career level, from beginners to experienced professionals. With a track record of empowering over 10,000 students with Angular expertise, many have successfully attained coveted positions as Angular Course Developers in top-tier companies.
        </p>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Why CIIT?</h4>
        </div>
        <ul style="font-size:14px;list-style:none;margin-top:2%">
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Latest Curriculum</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Highly Experienced Trainers</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Chance to work with our development team</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Practically Work on Projects & Case Studies</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Real time project Training</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Weekly Mock & HR Interviews </h6></li>
            @* <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li> *@
        </ul>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Course Curriculum</h4>
        </div>

        <p style="margin-top:2%">The Angular Course is the perfect fit for individuals eager to create projects from the ground up. CIIT Training Institute is the ultimate destination for those looking to kickstart a rewarding career path as an Angular professional in the ever-evolving IT industry.</p>
    </div>
    <div>



        <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
            <h4 style="margin-top:2%"> Angular Course offered by CIIT Training Institute</h4>

            <div class="row">
                <div class="col-md-9">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Angular Course </a>
                                    </div>
                                </nav>
                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card border-primary shadow-sm  mb-4">
                                                    <div class="card-body">
                                                        <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                        <br />
                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                        <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                        <p class="card-text" style="padding-left:10%">
                                                            – 15 Days(Daily 4 Hrs)
                                                            2 Months Live Project
                                                        </p>
                                                        <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Projects</li>
                                                        </ul>
                                                        <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                        <ul style="padding-left:10%">


                                                            <li>
                                                                <ul>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Introduction to Angular

                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Components
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Components & Databinding
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Directives
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Services & Dependency Injection
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>

                                                                        Routing
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Template Driven Forms
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>

                                                                        Reactive Forms
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        HttpClient
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Pipes
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Making HTTP Requests
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Angular Modules
                                                                    </li>

                                                                    @* <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure With Devops
                                                                        </li>
                                                                        <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Terraform Modules & Workspaces
                                                                        </li>
                                                                        <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure Devops And Azure Repos
                                                                        </li>
                                                                        <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure Artifacts And Azure Test Plans
                                                                        </li>
                                                                        <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure Artifacts And Azure Test Plans
                                                                        </li>
                                                                        <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure Boards
                                                                        </li>
                                                                        <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Terraform With Azure
                                                                        </li> *@
                                                                </ul>
                                                                <hr />

                                                            </li>
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 2 Real Time Projects</li>


                                                                </ul>
                                                                <hr />

                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    @Html.Partial("PartialView")

                </div>
                </<div></div>
            </div>

        </div>
    </div>

</div>
