@{
    ViewData["Title"] = "Corporate Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

<div class="container" style="padding-top: 80px; text-align: justify; font-size: 14px; font-family: 'Bookman Old Style'">
    <img src="~/assets/Courses//Corporate training.jpeg" style="height:300px;width:100%" />

    <h4 style="margin-top:2%">
        Unlock Your Team's Potential with Corporate Training: A Path to Success
    </h4>
    <div>
        <p>
            Are you ready to take your team's skills to the next level? Welcome to our Corporate Training program, where excellence meets innovation! At CIIT Training Institute we understand the importance of continuous learning and growth in today's dynamic business landscape. That's why we offer tailored Corporate Training solutions designed to empower your workforce with the latest industry knowledge and practical experience.
        </p>
         <p>
             <h4><b>Why Choose Us?</b></h4>

        </p>
        <p>
            Empower Your Team: Our Corporate Training programs are meticulously crafted to equip your team with the skills and expertise needed to tackle real-world challenges confidently.
        </p>
        <p>
            Hands-On Learning: Say goodbye to traditional lectures! Our interactive sessions and live projects provide hands-on experience, ensuring maximum retention and practical application of knowledge.
        </p> 
        <p>
            Expert Guidance: Learn from the best in the industry! Our experienced trainers bring a wealth of knowledge and real-world insights to the table, guiding your team every step of the way.
        </p>
        <p>
            Customized Solutions: We understand that every business is unique. That's why we offer customized training solutions tailored to your specific goals, industry requirements, and team dynamics.
        </p>
        <p>
            Stay Ahead of the Curve: In today's fast-paced world, staying ahead of the competition is key. Our Corporate Training programs cover the latest technologies, trends, and best practices, keeping your team at the forefront of innovation.
        </p>
    </div>
    <div>
        <p><h4><b>Our Offerings:</b></h4></p>
    </div>
    <div>
         <p>
            Technical Training: From programming languages to cutting-edge technologies, we offer comprehensive technical training programs to sharpen your team's skills.
        </p>
        
    </div>
    <div>
        <p>Soft Skills Development: Communication, leadership, time management – we cover it all! Our soft skills development courses help your team members become well-rounded professionals.</p>
        <p>Project Management: Master the art of project management with our expert-led training sessions, designed to help your team deliver projects on time and within budget.</p>
    </div>
    <div>
        <p><h4><br />Duration and Certification:</h4></p>
        <p>
            Our Corporate Training programs vary in duration based on your requirements and the chosen curriculum. Upon successful completion of the training, participants will receive a certification acknowledging their newfound skills and expertise.
        </p>
    </div>
    <div>
        <p><h4><b>Ready to Transform Your Team?</b></h4></p>
        <p>
            Invest in your team's success with Corporate Training from CIIT Training Institute. Together, let's unlock your team's full potential and drive your business towards greater heights!
<br />
           
        </p>
    </div>
    <div>
        <p>
            CIIT Training Institute offers comprehensive Corporate Training programs tailored for both freshers and working professionals. With a track record of training over 10,000 students, our courses are designed to equip participants with the skills needed to excel as Corporate Trainer in their respective organizations.
        </p>
        <p>Embark on an enriching journey with our Corporate Training Courses, meticulously crafted to empower participants with hands-on experience on live projects. Our guarantee Upon completion of the program, you'll be adept at independently developing projects, ready to showcase your skills with confidence.</p>
    </div>
    <div>
        <center>
            <b>
                Contact Us Today to Learn More!<br />
                Empower. Educate. Excel.
            </b>
        </center>
        <br />
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Why CIIT?</h4>
        </div>
        <ul style="font-size:14px;list-style:none;margin-top:2%">
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Latest Curriculum</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Highly Experienced Trainers</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Chance to work with our development team</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Practically Work on Projects & Case Studies</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Real time project Training</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Weekly Mock & HR Interviews </h6></li>
            @* <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li> *@
        </ul>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Course Curriculum</h4>
        </div>

        <p style="margin-top:2%">
            This comprehensive Corporate Training Program is designed for individuals passionate about crafting projects from the ground up. CIIT serves as an exemplary platform for those aspiring to pursue boundless career opportunities as Corporate Trainer in the dynamic IT Industry.
        </p>
    </div>
    <div>



 @*        <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
            <h4 style="margin-top:2%">Various Dot Net Courses offered by CIIT Training Institute</h4>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Corporate Training With Stipend</a> *@
                               @*  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Full Stack Development</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Corporate Training for Working Professionals</a>
                            </div> *@
                        </nav>
                        <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
                           <h4 style="margin-top:2%">Corporate Training Program offered by CIIT Training Institute</h4>
                           <div class="row">
                               <div class="col-md-9">
                           
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <nav>
                                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Corporate Training Program</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="card border-primary shadow-sm  mb-4">
                                                            <div class="card-body">
                                                                <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                                <br />
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                                <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                                <p class="card-text" style="padding-left:10%"> 4 Months Training and 2 Months Live Project</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px;font-size:15px"></i> Key Points for Freshers</h5>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                                    @* <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li> *@
                                                                </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                                <ul style="padding-left:10%">


                                                                    <li>
                                                                        <ul>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                                  Project Management
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                                   Behavioral Skills
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                Regulatory Compliance
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                Sales Training
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                Emotional Intelligence
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>

                                                                Conflict Resolution
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>

                                                                Leadership
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>

                                                                Communication
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                Decision Making
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                Employee Motivation
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                Customer Service
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                Communications Training
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>

                                                                                Management
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                Negotiation Skills
                                                                            </li>
                                                                            @* <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                                Azure With Devops
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                                Terraform Modules & Workspaces
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                                Azure Devops And Azure Repos
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                                Azure Artifacts And Azure Test Plans
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                                Azure Artifacts And Azure Test Plans
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                                Azure Boards
                                                                            </li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                                Terraform With Azure
                                                                            </li> *@
                                                                        </ul>
                                                                        <hr />

                                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 1 Real Time Project</li>


                                                        </ul>
                                                        <hr />

                                                    </li>
                                                                </ul>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                <div class="col-md-3">
                    @Html.Partial("PartialView")

                </div>
                        </div>
                        </div>
                        @* <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
                                                <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                <br />
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c"></i> Who can do this course</h5>
                                                <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 4 Months Training and gauranteed job from 5th month</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c"></i> Key Points for Freshers</h5>
                                                <ul style="padding-left:10%">
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li>
                                                </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c"></i> Course Contents</h5>
                                                <ul style="padding-left:10%">
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Css,Css3</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> TypeScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Angular Latest/ReactJs Latest</li>

                                                        </ul>
                                                        <hr />
                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Cloud-based storage and collaboration tools</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Performance Management Systems</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Custom-built databases</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Human Resources Information Systems </li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Corporate training </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Customization</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Content</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Delivery Methods</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Trainers</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Duration</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Benefits</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Asp.Net MVC Web Apis</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Certification</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Evolving Business Needs</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Technological Advancements.</li>

                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Technical Skills Training</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Soft Skills Development</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Industry-specific Knowledge</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Project Management</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Leadership and Management Development</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Digital Transformation and Innovation</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Cybersecurity Awareness</li>
                                                        </ul>
                                                        <hr />

                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
                                                <h4 style="color:#e74c3c">CIIT Gaurantee for 100% Job Assistance on industry oriented Dot Net Training with live project with </h4>
                                                <br />

                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c"></i> Who can do this course</h5>
                                                <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 6 Months Training With Real time project from Industry Experts</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c"></i> Key Points for Freshers</h5>
                                                <ul style="padding-left:10%">
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li>
                                                </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c"></i> Course Contents</h5>
                                                <ul style="padding-left:10%">
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Css,Css3</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Angular Latest/ReactJs Latest</li>

                                                        </ul>
                                                        <hr />
                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Cloud-based storage and collaboration tools</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Performance Management Systems</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Custom-built databases</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Human Resources Information Systems </li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Corporate Training </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Customization</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Content</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Delivery Methods</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Trainers</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Duration</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Benefits</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Asp.Net MVC Web Apis</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Certification</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Evolving Business Needs</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Technological Advancements.</li>

                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Technical Skills Training</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Soft Skills Development</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Industry-specific Knowledge</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Project Management</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Leadership and Management Development</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Digital Transformation and Innovation</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Cybersecurity Awareness</li>
                                                        </ul>
                                                        <hr />

                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div> 
                           <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
                                                <h4 style="color:#e74c3c">CIIT Gaurantee for real time industry  training with live project</h4>
                                                <br />
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c"></i> Who can do this course</h5>
                                                <p class="card-text" style="padding-left:10%">  IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 2-3 Months</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c"></i> Key Points for Working Professionals</h5>
                                                <ul style="padding-left:10%">
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews </li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  We love to help working professionals in their current project</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls for switch from current job </li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li>
                                                </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c"></i> Course Contents</h5>
                                                <ul style="padding-left:10%">
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Css,Css3</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> TypeScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Angular Latest/ReactJs Latest</li>

                                                        </ul>
                                                        <hr />
                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Cloud-based storage and collaboration tools</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Performance Management Systems</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Custom-built databases</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Human Resources Information Systems </li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Corporate Training </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Customization</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Content</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Delivery Methods</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Trainers</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Duration</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Benefits</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Asp.Net MVC Web Apis</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Certification</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Evolving Business Needs</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Technological Advancements.</li>

                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Technical Skills Training</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Soft Skills Development</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Industry-specific Knowledge</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Project Management</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Leadership and Management Development</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Digital Transformation and Innovation</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Cybersecurity Awareness</li>
                                                        </ul>
                                                        <hr />

                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                        </div> *@
                  @*   </div>
                </div>
            </div>
        </div> *@

    </div>
</div>

