@{
    ViewData["Title"] = " Data Science";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

<div class="container" style="padding-top: 80px; text-align: justify; font-size: 14px; font-family: 'Bookman Old Style'">
    <img src="~/assets/courses/DataScience.jpg" style="height:200px;width:100%" />

    <h4 style="margin-top:2%;"> Data Science</h4>


    <p>


        Job oriented Data Science certification course to learn data science and machine learning using Python! Python which once was considered as general programming language has emerged as a star of the Data Science world in recent years, owing to the flexibility it offers for end to end enterprise wide analytics implementation. This data science training covers data handling, visualisation, statistical modelling and machine learning effectively with practical examples and case studies making it one of the most practical training. Even if you are looking for Python Data Science training with Real time project, CIIT is the right place.
    </p>

    <div>
        <h4 style="margin-top:2%;">Why learn Data Science?</h4>
        <ul>
            <li>
                <b>Data is the fuel of the 21st century</b>
                <p>According to Simon Quinton, “If Analytics is the Engine, then Data is the Fuel of the 21st century.” Without data, businesses would not be able to uncover useful insights that could help streamline their business. After all, where would all the essential customer information come from, if not for data? Without customer data, it will be impossible to improve customer satisfaction or create personalized recommendation lists.</p>
            </li>
            <li>
                <p>
                    <b>Demand-Supply paradox.</b>
                    As we mentioned earlier, the demand for skilled Data Science professionals, including Data Scientists, ML and AI Engineers, is on the rise. However, the supply of skilled professionals in the field is creeping up at a much slower pace. IBM maintains that by 2020, Data Science will take up 28% share of all digital jobs, but unfortunately, the job vacancies remain vacant for as high as 45 days due to the lack of talented applicants. Furthermore, IBM’s The Quant Crunch report states:
                </p>
            </li>
            <li>
                <p>
                    <b>  A lucrative and high-paying career</b>
                    Data Science is a highly advanced and exclusive field of study, and it is no doubt that professionals in this field make big money. For instance, according to PayScale, the average salary of a Data Scientist in India is Rs 6,99,928, and the average salary of a Data Analyst is Rs. 4,04, 924. All the job roles in Data Science have pretty much similar salary scale. The best part – since Data Science is still evolving, you will never have a stagnant career. There will be plenty of opportunities to learn, upskill, and earn more money.
                </p>
            </li>
        </ul>
    </div>
    <div>
        <p>
            Artificial intelligence and machine learning innovations have made data processing faster and more efficient. Industry demand has created an ecosystem of courses, degrees, and job positions within the field of data science. Because of the cross-functional skillset and expertise required, data science shows strong projected growth over the coming decades.
        </p>
        <div>
            <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
                <h4>Why CIIT?</h4>
            </div>
            <ul style="font-size:14px;list-style:none;margin-top:2%">
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Latest Curriculum</h6></li>
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Highly Experienced Trainers</h6></li>
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Chance to work with our development team</h6></li>
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Practically Work on Projects & Case Studies</h6></li>
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Real time project Training</h6></li>
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li>
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Weekly Mock & HR Interviews </h6></li>
                @* <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li> *@
            </ul>
        </div>
        <div>
            <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
                <h4>Course Curriculum</h4>
            </div>

            <p style="margin-top:2%">This Data Science  course is ideal for anyone with an interest in creating their own projects from scratch,CIIT is a good platform for those people who want to do limitless career as a Data Science Developer in IT Indusrty. </p>
        </div>
        <div>

            <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
                <h4 style="margin-top:2%"> Data Science Course offered by CIIT Training Institute</h4>


                <div class="row">
                    <div class="col-md-9">

                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 ">
                                    <nav>
                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"> Data Science for Working Professionals</a>
                                            @*   <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Full-Stack Data Scientist</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Data Science for Working Professionals</a> *@
                                        </div>
                                    </nav>
                                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card border-primary shadow-sm  mb-4">
                                                        <div class="card-body">
                                                            <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                            <br />
                                                            <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                            <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                            <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                            <p class="card-text" style="padding-left:10%"> 4 Months Training and gauranteed job from 5th month</p>
                                                            <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                            <ul style="padding-left:10%">
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                                @* <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li> *@
                                                            </ul>
                                                            <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                            <ul style="padding-left:10%">
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> Business Statistics</h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Counting, Probability, and Probability Distributions</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Sampling Distributions</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Estimation and Hypothesis Testing</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Scatter Diagram</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Anova and Chisquare</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Cleaning</li>

                                                                    </ul>
                                                                    <hr />
                                                                </li>
                                                                @* <li>
                                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                                        <ul style="padding-left:10%">
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>  PostgresSQL, MySQL, and SQL Server </li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> In-memory databases Redis and Apache Ignite </li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data warehouses Amazon Redshift, Google BigQuery, and Snowflake</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Graph databases Neo4j</li>
                                                                        </ul>
                                                                        <hr />

                                                                    </li> *@
                                                                <br />


                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> Machine Learning </h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Getting Started With ML</li>
                                                                        <li>
                                                                            <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>ML Lifecycle</i>
                                                                        </li>
                                                                        <li>
                                                                            <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Linear & Tree based models</i>
                                                                        </li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Cross validation</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Implementing simple Supervised Algorithm</li>
                                                                        @*    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>  </li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>  </li> *@
                                                                        @*   <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Capstone Project</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Optional Topics</li> *@


                                                                    </ul>
                                                                    <hr />

                                                                </li>
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i>  More Important Topics</h6>
                                                                    <ul style="padding-left:10%">
                                                                        @*   <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Business Statistics</li>
                                                                            <li>
                                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Machine Learning
                                                                            </li>
                                                                            <li> *@
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Artificial Intelligence
                                                                </li>
                                                                <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Deep Learning</li>
                                                                <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Power BI</li>
                                                                <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Unix Shell Script</li>
                                                                <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Shell Scripting</li>
                                                                @*   <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Capstone Project</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Optional Topics</li> *@


                                                            </ul>
                                                            <hr />

                                                            </li>
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 1 Real Time Project</li>


                                                                </ul>
                                                                <hr />

                                                            </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="padding:2%">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card border-primary shadow-sm  mb-4">
                                                        <div class="card-body">
                                                            <h4 style="color:#e74c3c">CIIT Gaurantee for 100% Job Assistance on industry oriented Data Analyst Training with live project with </h4>
                                                            <br />

                                                            <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                            <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                            <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                            <p class="card-text" style="padding-left:10%"> 6 Months Training With Real time project from Industry Experts</p>
                                                            <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                            <ul style="padding-left:10%">
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Job Placement Guarantee</li>
                                                                @* <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 1 Real Time Industry Project</li> *@
                                                            </ul>
                                                            <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                            <ul style="padding-left:10%">
                                                                @* <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> Data Science</h6>
                                                                        <ul style="padding-left:10%">
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Css,Css3</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Angular Latest/ReactJs Latest</li>

                                                                        </ul>
                                                                        <hr />
                                                                    </li>
                                                                    @* <li>
                                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                                        <ul style="padding-left:10%">
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>  PostgresSQL, MySQL, and SQL Server </li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> In-memory databases Redis and Apache Ignite </li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data warehouses Amazon Redshift, Google BigQuery, and Snowflake</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Graph databases Neo4j</li>
                                                                        </ul>
                                                                        <hr />

                                                                    </li> *@
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i>  Data Science</h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Business Statistics</li>
                                                                        <li>
                                                                            <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Machine Learning
                                                                        </li>
                                                                        <li>
                                                                            <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Artificial Intelligence
                                                                        </li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Deep Learning</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Power BI</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Unix Shell Script</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Shell Scripting</li>
                                                                        @*   <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Capstone Project</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Optional Topics</li> *@


                                                                    </ul>
                                                                    <hr />

                                                                </li>
                                                                @* <li>
                                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                                        <ul style="padding-left:10%">
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Collection</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Cleaning</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Exploration</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Preprocessing</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Statistical Analysis</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Machine Learning</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Data Visualization Validation and Iteration</li>
                                                                        </ul>
                                                                        <hr />

                                                                    </li> *@
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 1 Real Time Project</li>


                                                                    </ul>
                                                                    <hr />

                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" style="padding:2%">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card border-primary shadow-sm  mb-4">
                                                        <div class="card-body">
                                                            <h4 style="color:#e74c3c">CIIT Gaurantee for real time industry  training with live project</h4>
                                                            <br />
                                                            <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                            <p class="card-text" style="padding-left:10%">  IT professionals</p>
                                                            <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                            <p class="card-text" style="padding-left:10%"> 2-3 Months</p>
                                                            <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Working Professionals</h5>
                                                            <ul style="padding-left:10%">
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                                @*   <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews </li> *@
                                                                @*  <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  We love to help working professionals in their current project</li>
                                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li> *@
                                                                @* <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls for switch from current job </li> *@
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 1 Real Time Industry Project</li>
                                                            </ul>
                                                            <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                            <ul style="padding-left:10%">
                                                                @* <li>
                                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                                        <ul style="padding-left:10%">
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Css,Css3</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Python</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> R language</li>

                                                                        </ul>
                                                                        <hr />
                                                                    </li> *@
                                                                @* <li>
                                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                                        <ul style="padding-left:10%">
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>  PostgresSQL, MySQL, and SQL Server </li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> In-memory databases Redis and Apache Ignite </li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data warehouses Amazon Redshift, Google BigQuery, and Snowflake</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Graph databases Neo4j</li>
                                                                        </ul>
                                                                        <hr />

                                                                    </li> *@
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> Data Science </h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Business Statistics</li>
                                                                        <li>
                                                                            <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Machine Learning
                                                                        </li>
                                                                        <li>
                                                                            <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Artificial Intelligence
                                                                        </li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Deep Learning</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Power BI</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Unix Shell Script</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Shell Scripting</li>
                                                                        @*   <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Capstone Project</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Optional Topics</li> *@


                                                                    </ul>
                                                                    <hr />

                                                                </li>
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 1 Real Time Project</li>


                                                                    </ul>
                                                                    <hr />

                                                                </li>
                                                                @* <li>
                                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                                        <ul style="padding-left:10%">
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Collection</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Cleaning</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Exploration</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Preprocessing</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Statistical Analysis</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Machine Learning</li>
                                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Data Visualization Validation and Iteration</li>
                                                                        </ul>
                                                                        <hr />

                                                                    </li> *@

                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        @Html.Partial("PartialView")

                    </div>
                    </<div>

                    </div>

                </div>
            </div>
        </div>
    </div>
