@{
    ViewData["Title"] = "DBA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

<div class="container" style="padding-top:80px;text-align:justify;font-size:14px;font-family:'Bookman Old Style'">
    <img src="~/assets/courses/DBA.jpg" style="height:300px;width:100%" />

    <h4 style="margin-top:2%">

        Every year over 600 students secure positions as Database Administrator Developers in the IT industry.
    </h4>
    <div>
        <p>
            A database administrator, or DBA, is responsible for maintaining, securing, and operating databases and also ensures that data is correctly stored and retrieved. In addition, DBAs often work with developers to design and implement new features and troubleshoot any issues.
        </p>
        <p>
            The role of DBA is becoming increasingly important in today’s information-driven business environment. Thoroughout the world, more and more organizations depend on data to discover analytical insights on market conditions, new business models, and cost-cutting measures. The global cloud computing market is also expected to expand as companies move their business operations to the cloud. Consequently, the need for qualified DBAs will only continue to grow.

        </p>
        <p>
            There are several types of database administrators, each with specific duties and responsibilities. The most common types of DBAs include system administrators, database architects, database analysts, data modelers, application DBAs, task-oriented DBAs, performance analysts, data warehouse administrators, and cloud DBAs.
        </p>
        <p>
            Database administration is a vital component of the IT environment for any organization that relies on one or more database management systems.
            Additionally, DBAs must be good communicators. They need to be able to converse and work with application programmers, business end users, IT and business managers, data analysts and other DBAs.
        </p>
    </div>
    <div>
        <p>
            CIIT Training Institute offers Database Administration training for both Freshers and working professionals. To date, we have trained over 10,000 students in Database Administration technology, with the majority securing positions in their dream companies as Database Administration Developers.
        </p>
        <p>
            We provide training with an updated syllabus, focusing on live projects exclusively. We guarantee that upon completion of the training, students will possess the skills to develop projects independently, without requiring assistance. They will be fully prepared to present themselves confidently in professional settings.
        </p>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Why CIIT?</h4>
        </div>
        <ul style="font-size:14px;list-style:none;margin-top:2%">
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Latest Curriculum</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Highly Experienced Trainers</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Chance to work with our development team</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Practically Work on Projects & Case Studies</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Real time project Training</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Weekly Mock & HR Interviews </h6></li>
            @* <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li> *@
        </ul>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Course Curriculum</h4>
        </div>

        <p style="margin-top:2%">This Database Administration course caters to individuals keen on building projects from the ground up. CIIT serves as an excellent platform for those aspiring to forge a limitless career as a Database Administrator in the IT industry. </p>
    </div>
    <div>



        <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
            <h4 style="margin-top:2%"> Database Administration Course offered by CIIT Training Institute</h4>
            <div class="row">
                <div class="col-md-9">


                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">DBA for Working Professionals</a>
                                        @*  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Database Administrator</a>
                                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">DBA for Working Professionals</a> *@
                                    </div>
                                </nav>

                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card border-primary shadow-sm  mb-4">
                                                    <div class="card-body">
                                                        <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                        <br />
                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                        <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                        <p class="card-text" style="padding-left:10%"> 4 Months Training and gauranteed job from 5th month</p>
                                                        <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                            @* <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li> *@
                                                        </ul>
                                                        <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                        <ul style="padding-left:10%">
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> CSS,CSS3</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Django (Python)</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Ruby on Rails (Ruby)</li>

                                                                </ul>
                                                                <hr />
                                                            </li>
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Microsoft Sql Server 2022</li>
                                                                </ul>
                                                                <hr />

                                                            </li>
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Database administrator </h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Types of databases</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Entity-Relationship (ER) modeling</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> SQL DDL DML </li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> SQL constraints</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data modeling tools (ERD tools)</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Big data</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Authentication and authorization mechanisms</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Performance Tuning and Optimization</li>


                                                                </ul>
                                                                <hr />

                                                            </li>
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Database Management Systems (DBMS) Interfaces</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Visualization Tools</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Configuration Management Tools</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> GitHub</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Scripting Languages</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Project Deployment </li>
                                                                </ul>
                                                                <hr />

                                                            </li>

                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 1 Real Time Project</li>


                                                                </ul>
                                                                <hr />

                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*
                                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="padding:2%">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card border-primary shadow-sm  mb-4">
                                                        <div class="card-body">
                                                            <h4 style="color:#e74c3c">CIIT Gaurantee for 100% Job Assistance on industry oriented Dot Net Training with live project with </h4>
                                                            <br />

                                                            <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                            <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                            <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                            <p class="card-text" style="padding-left:10%"> 6 Months Training With Real time project from Industry Experts</p>
                                                            <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                            <ul style="padding-left:10%">
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li>
                                                            </ul>
                                                            <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                            <ul style="padding-left:10%">
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> CSS,CSS3</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Django (Python)</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Ruby on Rails (Ruby)</li>

                                                                    </ul>
                                                                    <hr />
                                                                </li>
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Microsoft Sql Server 2022</li>
                                                                    </ul>
                                                                    <hr />

                                                                </li>
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> Database administrator </h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Types of databases</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Entity-Relationship (ER) modeling</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> SQL DDL DML </li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> SQL constraints</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data modeling tools (ERD tools).</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Big data</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Authentication and authorization mechanisms.</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Performance Tuning and Optimization:</li>


                                                                    </ul>
                                                                    <hr />

                                                                </li>
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Database Management Systems (DBMS) Interfaces</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Visualization Tools:</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Configuration Management Tools:</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> GitHub</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Scripting Languages:</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Project Deployment </li>
                                                                    </ul>
                                                                    <hr />

                                                                </li>

                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 2 Real Time Projects</li>


                                                                    </ul>
                                                                    <hr />

                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" style="padding:2%">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card border-primary shadow-sm  mb-4">
                                                        <div class="card-body">
                                                            <h4 style="color:#e74c3c">CIIT Gaurantee for real time industry  training with live project</h4>
                                                            <br />
                                                            <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                            <p class="card-text" style="padding-left:10%">  IT professionals</p>
                                                            <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                            <p class="card-text" style="padding-left:10%"> 2-3 Months</p>
                                                            <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Working Professionals</h5>
                                                            <ul style="padding-left:10%">
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews </li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  We love to help working professionals in their current project</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls for switch from current job </li>
                                                                <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li>
                                                            </ul>
                                                            <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                            <ul style="padding-left:10%">
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> CSS,CSS3</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Django(Python)</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Ruby on Rails (Ruby)</li>

                                                                    </ul>
                                                                    <hr />
                                                                </li>
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Microsoft Sql Server 2022</li>
                                                                    </ul>
                                                                    <hr />

                                                                </li>
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> Database administrator </h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Types of databases</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Entity-Relationship (ER) modeling</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> SQL DDL DML </li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> SQL constraints</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data modeling tools (ERD tools).</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Big data</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Authentication and authorization mechanisms.</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Performance Tuning and Optimization:</li>


                                                                    </ul>
                                                                    <hr />

                                                                </li>
                                                                <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Database Management Systems (DBMS) Interfaces</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Visualization Tools:</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Configuration Management Tools:</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> GitHub</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Scripting Languages:</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Project Deployment </li>
                                                                    </ul>
                                                                    <hr />

                                                                </li>

                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> *@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    @Html.Partial("PartialView")

                </div>
                </<div>

                </div>
            </div>
        </div>

    </div>
</div>
