@{
    ViewData["Title"] = "DevOps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

<div class="container" style="padding-top:80px;text-align:justify;font-size:14px;font-family:'Bookman Old Style'">
    <img src="~/assets/courses/devops.png" style="height:100%;width:100%" />

    <h4 style="margin-top:2%;text-align:left">

        Every year over 200 ambitious individuals secure coveted positions as DevOps Engineers within the dynamic realm of the IT industry.
    </h4>
    <div>
        <p>
            DevOps is the acronym given to the combination of Development and Operations. Even though, in advancing the dual movements of Agile Transformation and Digital Transformation, DevOps as well as its related extensions are critical components, particularly when implementing software on the cloud. The goals of DevOps in any organization are dependent on that organization’s ambition, culture, and maturity.
        </p>
        <p>
            DevOps is the union of people, process, and products to enable continuous delivery of value to your end users. Azure DevOps is a set of services that gives you the tools you need to do just that. With Azure DevOps, you can build, test, and deploy any application, either to the cloud or on premises. DevOps practices that enable transparency, cooperation, continuous delivery and continuous deployment become embedded in your software development lifecycle.

        </p>
        <p>
            DevOps bridges the gap between development and operations, creating significant efficiencies across the development and deployment of software. DevOps includes a strong emphasis on automation, helping reduce the overall number of errors.

        </p>
        <p>
            The philosophy of DevOps is to take end-to-end responsibility across all aspects of the project. Unlike more traditional methods of developing software, DevOps bridges the gap between development and operations teams—something that is often missing and can heavily impede the process of software delivery.

        </p>
    </div>
    <div>
        <h4>Why Azure DevOps Matters</h4>
        <p>In this rapidly evolving world of technology, Azure DevOps, now known as Azure DevOps Services, is a cloud-based platform provided by Microsoft. It offers a comprehensive set of tools and services for software development and collaboration. Azure DevOps covers the entire software development lifecycle, including project planning, source code management, build automation, and deployment. It promotes collaboration between development and operations teams, streamlining processes and ensuring efficient and reliable software delivery.</p>
        <h4>Skills Required for Azure DevOps Engineers</h4>
        <p>To excel as an Azure DevOps engineer, you need a diverse skill set that combines technical expertise with collaboration and problem-solving abilities. Here are the top five skills required:</p>
        <br />
        <ol>
            <li>

                <p>
                    <b>Azure Services Knowledge : </b>   A strong understanding of Azure cloud services is crucial. Familiarity with services like Azure Virtual Machines, Azure App Service, Azure Functions, Azure Kubernetes Service (AKS), and Azure SQL Database is essential for designing and deploying applications in the Azure ecosystem.
                </p>
            </li>
            <li>

                <p>
                    <b>Continuous Integration and Continuous Deployment (CI/CD) Pipelines : </b> Proficiency in CI/CD is fundamental. You should be able to design, implement, and manage CI/CD pipelines using Azure DevOps or similar tools. This includes automating build, test, and deployment processes to ensure efficient application delivery.
                </p>
            </li>
            <li>
                <p>
                    <b>Infrastructure as Code (IAC) : </b> Mastery of IAC tools like Azure Resource Manager (ARM) templates, Terraform, or Ansible is essential. IAC enables you to define and manage your infrastructure in a code-based, version-controlled manner, ensuring reproducibility and scalability.
                </p>
            </li>
            <li>
                <p>
                    <b>Scripting and Automation : </b> Strong scripting skills, especially in PowerShell and Bash, are important for managing and automating Azure resources. You should be able to create scripts for provisioning, configuring, and maintaining Azure services efficiently.
                </p>
            </li>
            <li>
                <p>
                    <b>Collaboration and Communication : </b> Effective communication and collaboration skills are vital for working in cross-functional teams. Azure DevOps engineers need to collaborate with developers, system administrators, and other stakeholders, communicate ideas, manage project tasks, and troubleshoot effectively.
                </p>
            </li>
        </ol>
    </div>
    <div>
        <h4>The Azure DevOps Roadmap for 2024</h4>
    </div>

    <div>

        <p>
            Creating a comprehensive Azure DevOps roadmap requires careful planning and adaptation to your organization's specific needs and goals. Here's a general outline of the key areas to consider when creating an Azure DevOps roadmap:
        </p>

        <ul>
            <li>
                <p>
                    <b>Assessment and Planning : </b> Evaluate your current development and operations processes, identify pain points, and set organizational goals for adopting Azure DevOps.
                </p>
            </li>
            <li>
                <p>
                    <b>Tool Selection : </b> Choose the Azure DevOps services and tools that align with your needs. Consider integration with other Azure services and third-party tools.
                </p>
            </li>
            <li>
                <p>
                    <b>Training and Skill Development : </b> Invest in training and upskilling your team in Azure DevOps practices and technologies. Encourage certification and continuous learning.
                </p>
            </li>
            <li>
                <p>
                    <b>Migration and Onboarding : </b> Plan and execute the migration of existing projects and code repositories to Azure DevOps. Onboard your team to the new platform and educate them on best practices.
                </p>
            </li>
            <li>
                <p>
                    <b>Agile and DevOps Practices : </b> Implement agile methodologies and DevOps practices to streamline development and operations procedures. Define workflows, processes, and policies that promote collaboration and automation.
                </p>
            </li>
            <li>
                <p>
                    <b>Continuous Integration and Continuous Deployment : </b> Set up CI/CD pipelines using Azure DevOps to automate build and deployment processes. Implement testing, quality control, and release management.
                </p>
            </li>

            <li>
                <p>
                    <b>Monitoring and Feedback : </b> Implement monitoring and logging solutions to track application performance. Collect and analyze user feedback to make continuous improvements.
                </p>
            </li>
            <li>
                <p>
                    <b>Security and Compliance : </b> Integrate security practices into development and deployment pipelines. Ensure compliance with industry standards and regulations using Azure security and compliance tools.
                </p>
            </li>
            <li>
                <p>
                    <b>Scalability and Cost Managemente : </b> Plan for scalability and cost optimization using Azure resources and services. Implement cost tracking and optimization strategies to control cloud expenditure.
                </p>
            </li>
            <li>
                <p>
                    <b>Long-Term Strategy : </b> Develop a long-term strategy for Azure DevOps adoption, including future upgrades, new services, and the evolution of your DevOps practices.
                </p>
            </li>
            <li>
                <p>
                    <b>Collaboration and Communication : </b> Foster collaboration among development and operations teams through communication channels and tools. Encourage a culture of collaboration and knowledge sharing.
                </p>
            </li>
            <li>
                <p>
                    <b>Performance Metrics and KPIs : </b> Define and track key performance indicators (KPIs) to measure the success and efficiency of your Azure DevOps initiatives. Use metrics to identify areas for improvement.
                </p>
            </li>
            <li>
                <p>
                    <b>Feedback Loop and Iteration : </b> Establish a feedback loop that allows for continuous improvement in your Azure DevOps processes. Iterate and adapt your roadmap based on feedback and changing organizational needs.
                </p>
            </li>
        </ul>
    </div>

    <h4>Salaries for Azure DevOps Engineers</h4>
    <p>
        Salaries for Azure DevOps engineers can vary based on experience and location. In India, beginners can expect salaries ranging from 3 lakhs to 6 lakhs INR per annum. Intermediate candidates with 1 to 2 years of experience can earn between 6 lakhs and 12 lakhs INR. Highly experienced candidates with more than four years of experience may earn between 12 lakhs and 20 lakhs INR.
    </p>
    <p>
        In the United States, beginner Azure DevOps engineers can expect salaries ranging from $60,000 to $90,000 per annum. Intermediate candidates with 1 to 2 years of experience may earn between $90,000 and $120,000. Highly experienced candidates with more than four years of experience could earn between $120,000 and $160,000.
    </p>
    <div>

        <div>
            <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
                <h4>Why CIIT?</h4>
            </div>
            <ul style="font-size:14px;list-style:none;margin-top:2%">
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Latest Curriculum</h6></li>
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Highly Experienced Trainers</h6></li>
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Chance to work with our development team</h6></li>
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Practically Work on Projects & Case Studies</h6></li>
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Real time project Training</h6></li>
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li>
                <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Weekly Mock & HR Interviews </h6></li>
                @* <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li> *@
            </ul>
        </div>

    </div>

    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Course Curriculum</h4>
        </div>

        <p style="margin-top:2%">
            The DevOps With Azure course is tailored for visionaries eager to craft their projects from the ground up. CIIT serves as the ideal launchpad for individuals yearning for boundless opportunities as DevOps Engineers within the thriving landscape of the IT industry.
        </p>
    </div>
    <div>



        <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
            <h4 style="margin-top:2%">DevOps With Azure offered by CIIT Training Institute</h4>



            <div class="row">
                <div class="col-md-9">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">DevOps With Azure </a>
                                    </div>
                                </nav>
                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card border-primary shadow-sm  mb-4">
                                                    <div class="card-body">
                                                        <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                        <br />
                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                        <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                        <p class="card-text" style="padding-left:10%"> 4 Months Training and 2 Months Live Project</p>
                                                        <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li>
                                                        </ul>
                                                        <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                        <ul style="padding-left:10%">


                                                            <li>
                                                                <ul>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Implementing & Managing Storage
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Managing Azure Subscription & Resources
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Configuring & Managing Virtual Networks
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Managing Identities
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Infrastructure Setup
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Introduction To Devops
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Software Version Control
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Containerization With Docker
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Configuration Management With Puppet
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Configuration Management With Ansible
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Continuous Testing
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Continuous Integration Using Jenkins
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Continuous Orchestration Using Kubernetes
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Continuous Monitoring Using Nagios
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure With Devops
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Terraform Modules & Workspaces
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure Devops And Azure Repos
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure Artifacts And Azure Test Plans
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure Artifacts And Azure Test Plans
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure Boards
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Terraform With Azure
                                                                    </li>
                                                                </ul>
                                                                <hr />

                                                            </li>
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 2 Real Time Projects</li>


                                                                </ul>
                                                                <hr />

                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    @Html.Partial("PartialView")

                </div>

            </div>
        </div>
    </div>
</div>
 
