@{
    ViewData["Title"] = "Digital Marketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

<div class="container" style="padding-top:80px;text-align:justify;font-size:14px;font-family:'Bookman Old Style'">
    <img src="~/assets/courses/Digital Marketing.jpeg" style="height:300px;width:100%" />

    <h4 style="margin-top:2%">
        Every year 600+ Students get placed in Digital Marketing in IT industry
    </h4>
    <div>
        <p>
            Digital marketing refers to the use of digital channels, platforms, and technologies to promote a product, service, or brand to a wide audience. Unlike traditional marketing, which relies on physical media, digital marketing campaigns are primarily executed online.
        </p>
        <p>
            To thrive in a digital marketing role, one must possess a mix of technical and behavioral skills. Some of the most important digital marketing skills and mindsets include:
        </p>
        <p>
            <b>Communication skills</b> Communication skills are paramount in digital marketing because they facilitate clear conveyance of ideas, collaboration with diverse teams, and effective engagement with audiences. Whether it’s presenting campaign results to stakeholders, coordinating with designers and developers, or crafting messages that resonate with consumers, effective communication ensures alignment of goals, smooth execution of strategies, and the building of trust with both internal teams and external audiences.
        </p>
        <p>
            <b>An analytical mindset</b>: An analytical mindset is crucial in digital marketing because it enables professionals to decipher vast amounts of data, discern patterns, and derive actionable insights. By understanding user behavior, campaign performance, and other key metrics, marketers can make informed decisions, optimize strategies for better results, and demonstrate a clear return on investment to stakeholders
        </p>
        <p>
            <b>Creativity</b>: This skill allows digital marketers to craft unique, compelling campaigns that stand out in a saturated online landscape. By thinking outside the box and developing innovative content or strategies, marketers can captivate their target audience, foster engagement, and differentiate their brand from competitors.
        </p>
        <p>
            <b>Technical proficiency</b>: Digital marketers rely on various tools, platforms, and technologies — such as Google Analytics, AdWords, and content management systems (CMSs) — to execute and measure campaigns effectively. A strong grasp of these technical aspects ensures that marketers can optimize websites for search, analyze data accurately, manage paid ad campaigns, and troubleshoot issues, leading to more efficient and successful marketing efforts.
        </p>
        <p>
            <b>SEO and SEM skills:</b> These skills are essential for digital marketing because they directly influence a brand’s visibility on search engines. Mastery in SEO ensures that a website ranks organically for relevant keywords, driving free and targeted traffic. Simultaneously, expertise in SEM allows marketers to create effective paid ad campaigns, ensuring prominent placement in search results and immediate visibility. Together, they form the backbone of a brand’s online discoverability and reach.
        </p>
        <p>
            <b>Adaptability</b>: The digital landscape is in constant flux, with evolving algorithms, emerging platforms, and shifting consumer behaviors. Marketers who can quickly adapt to these changes are better positioned to seize new opportunities, mitigate challenges, and ensure their strategies remain effective and relevant in an ever-changing environment.
        </p>
    </div>
    <div>
        <p>CIIT Training institute provide Digital Marketing training for Freshers as well as for working professionals.Till date we have trained 10000+ students on Digital Marketing technology.</p>
        <p>We provide Digital Marketing training with updated syllabus on live project only.We give gaurantee that after completion of training students can easily develop projects without anyone help.After training he/she can present himself/herself for</p>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Why CIIT?</h4>
        </div>
        <ul style="font-size:14px;list-style:none;margin-top:2%">
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Latest Curriculum</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Highly Experienced Trainers</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Chance to work with our development team</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Practically Work on Projects & Case Studies</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Real time project Training</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Weekly Mock & HR Interviews </h6></li>
            @* <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li> *@
        </ul>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Course Curriculum</h4>
        </div>

        <p style="margin-top:2%">This Digital Marketing course is ideal for anyone with an interest in creating their own projects from scratch,CIIT is a good platform for those people who want to do limitless career in Digital Marketingin IT Indusrty. </p>
    </div>
    <div>
        <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
            <h4 style="margin-top:2%"> Digital Marketing Course offered by CIIT Training Institute</h4>


            <div class="row">
                <div class="col-md-9">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Digital Marketing Course  </a>
                                    </div>
                                </nav>
                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card border-primary shadow-sm  mb-4">
                                                    <div class="card-body">
                                                        <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                        <br />
                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this Course</h5>
                                                        <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                        <p class="card-text" style="padding-left:10%"> 4 Months Training and 2 Months Live Project</p>
                                                        <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Projects</li>
                                                        </ul>
                                                        <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Content</h5>
                                                        <ul style="padding-left:10%">


                                                            <li>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Content Marketing</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Social Media Marketing</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Email Marketing</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Affiliate Marketing</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Mobile Marketing</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Digital Marketing</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Video Marketing</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Search Engine Marketing</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Websites</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Internet Marketing</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Python</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Digital Marketing</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Viral Marketing</li>

                                                                </ul>
                                                                <hr />

                                                            </li>
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 2 Real Time Projects</li>


                                                                </ul>
                                                                <hr />

                                                            </li>

                                                            @* <li>
                                                                    <h6><i class="fas fa-book" style="color:#e74c3c"></i> Other Internship We Offer</h6>
                                                                    <ul style="padding-left:10%">
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Software developer.</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Software engineer.</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Information technology (IT) professional.</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Python developer.</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> IT help desk professional.</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Computer programming instructor.</li>
                                                                        <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Computer engineer.</li>
                                                                    </ul>
                                                                    <hr />

                                                                </li> *@
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                @* <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12 ">
                                                <nav>
                                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Digital Marketing course With Stipend</a>
                                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Digital Marketing</a>
                                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Digital Marketing for Working Professionals</a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="card border-primary shadow-sm  mb-4">
                                                                    <div class="card-body">
                                                                        <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                                        <br />
                                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c"></i> Who can do this course</h5>
                                                                        <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c"></i> Total Duration</h5>
                                                                        <p class="card-text" style="padding-left:10%"> 4 Months Training and gauranteed job from 5th month</p>
                                                                        <h5><i class="fas fa-star" style="color:#e74c3c"></i> Key Points for Freshers</h5>
                                                                        <ul style="padding-left:10%">
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li>
                                                                        </ul>
                                                                        <h5><i class="fas fa-star" style="color:#e74c3c"></i> Course Contents</h5>
                                                                        <ul style="padding-left:10%">
                                                                            <li>
                                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                                                <ul style="padding-left:10%">
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Css,Css3</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Sass (Syntactically Awesome Style Sheets)</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> React</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> PHP,Python,Node.js,C#</li>

                                                                                </ul>
                                                                                <hr />
                                                                            </li>
                                                                            <li>
                                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                                                <ul style="padding-left:10%">
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Relational Databases (SQL databases)</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Data Warehouses</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Graph Databases</li>
                                                                                </ul>
                                                                                <hr />

                                                                            </li>
                                                                            <li>
                                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Digital Marketing </h6>
                                                                                <ul style="padding-left:10%">
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Search Engine Optimization</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Social Media Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Search Engine Marketing (SEM)</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Pay-Per-Click (PPC) Advertising</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Email Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Content Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Analytics and Data Analysis</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Mobile Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> E-commerce Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Emerging Trends and Technologies</li>

                                                                                </ul>
                                                                                <hr />

                                                                            </li>
                                                                            <li>
                                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                                                <ul style="padding-left:10%">
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Conversion Rate Optimization (CRO) </li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Digital Marketing Strategy</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Influencer Marketing </li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Emerging Technologies and Trends</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Marketing Automation:</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Mobile Marketing</li>
                                                                                </ul>
                                                                                <hr />

                                                                            </li>

                                                                        </ul>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="padding:2%">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="card border-primary shadow-sm  mb-4">
                                                                    <div class="card-body">
                                                                        <h4 style="color:#e74c3c">CIIT Gaurantee for 100% Job Assistance on industry oriented Dot Net Training with live project with </h4>
                                                                        <br />

                                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c"></i> Who can do this course</h5>
                                                                        <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c"></i> Total Duration</h5>
                                                                        <p class="card-text" style="padding-left:10%"> 6 Months Training With Real time project from Industry Experts</p>
                                                                        <h5><i class="fas fa-star" style="color:#e74c3c"></i> Key Points for Freshers</h5>
                                                                        <ul style="padding-left:10%">
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li>
                                                                        </ul>
                                                                        <h5><i class="fas fa-star" style="color:#e74c3c"></i> Course Contents</h5>
                                                                        <ul style="padding-left:10%">
                                                                            <li>
                                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                                                <ul style="padding-left:10%">
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Css,Css3</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Sass (Syntactically Awesome Style Sheets)</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> React</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> PHP,Python,Node.js,C#</li>

                                                                                </ul>
                                                                                <hr />
                                                                            </li>
                                                                            <li>
                                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                                                <ul style="padding-left:10%">
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Relational Databases (SQL databases)</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Data Warehouses</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Graph Databases</li>
                                                                                </ul>
                                                                                <hr />

                                                                            </li>
                                                                            <li>
                                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Digital Marketing </h6>
                                                                                <ul style="padding-left:10%">
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Search Engine Optimization</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Social Media Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Search Engine Marketing (SEM)</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Pay-Per-Click (PPC) Advertising</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Email Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Content Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Analytics and Data Analysis</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Mobile Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> E-commerce Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Emerging Trends and Technologies</li>

                                                                                </ul>
                                                                                <hr />

                                                                            </li>
                                                                            <li>
                                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                                                <ul style="padding-left:10%">
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Conversion Rate Optimization (CRO) </li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Digital Marketing Strategy</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Influencer Marketing </li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Emerging Technologies and Trends</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Marketing Automation:</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Mobile Marketing</li>
                                                                                </ul>
                                                                                <hr />

                                                                            </li>

                                                                        </ul>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" style="padding:2%">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="card border-primary shadow-sm  mb-4">
                                                                    <div class="card-body">
                                                                        <h4 style="color:#e74c3c">CIIT Gaurantee for real time industry  training with live project</h4>
                                                                        <br />
                                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c"></i> Who can do this course</h5>
                                                                        <p class="card-text" style="padding-left:10%">  IT professionals</p>
                                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c"></i> Total Duration</h5>
                                                                        <p class="card-text" style="padding-left:10%"> 2-3 Months</p>
                                                                        <h5><i class="fas fa-star" style="color:#e74c3c"></i> Key Points for Working Professionals</h5>
                                                                        <ul style="padding-left:10%">
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews </li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  We love to help working professionals in their current project</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls for switch from current job </li>
                                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li>
                                                                        </ul>
                                                                        <h5><i class="fas fa-star" style="color:#e74c3c"></i> Course Contents</h5>
                                                                        <ul style="padding-left:10%">
                                                                            <li>
                                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                                                <ul style="padding-left:10%">
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Css,Css3</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Sass (Syntactically Awesome Style Sheets)</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> React</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> PHP,Python,Node.js,C#</li>

                                                                                </ul>
                                                                                <hr />
                                                                            </li>
                                                                            <li>
                                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                                                <ul style="padding-left:10%">
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Relational Databases (SQL databases)</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Data Warehouses</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Graph Databases</li>
                                                                                </ul>
                                                                                <hr />

                                                                            </li>
                                                                            <li>
                                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Digital Marketing </h6>
                                                                                <ul style="padding-left:10%">
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Search Engine Optimization</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Social Media Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Search Engine Marketing (SEM)</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Pay-Per-Click (PPC) Advertising</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Email Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Content Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Analytics and Data Analysis</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Mobile Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> E-commerce Marketing</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Emerging Trends and Technologies</li>

                                                                                </ul>
                                                                                <hr />

                                                                            </li>
                                                                            <li>
                                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                                                <ul style="padding-left:10%">
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Conversion Rate Optimization (CRO) </li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Digital Marketing Strategy</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Influencer Marketing </li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Emerging Technologies and Trends</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Marketing Automation:</li>
                                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Mobile Marketing</li>
                                                                                </ul>
                                                                                <hr />

                                                                            </li>

                                                                        </ul>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div> *@
                            </div>

                        </div>
                    </div>


                </div>

                <div class="col-md-3">
                    @Html.Partial("PartialView")

                </div>
            </div>
        </div>
    </div>
</div>
 