@{
    ViewData["Title"] = "Internship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

<div class="container" style="padding-top:80px;text-align:justify;font-size:14px;font-family:'Bookman Old Style'">
    <img src="~/assets/courses/college internship.png" style="height:100%;width:100%" />

    <h4 style="margin-top:2%">
        Unlock Your Potential:<br />
        Explore Internship Opportunities Across All Our Courses
    </h4>
    <div>
        <p>
            Are you ready to kickstart your career journey with hands-on experience and valuable industry insights? Look no further! At CIIT Training Institute, we offer dynamic internship programs tailored to enhance your skills and propel your career forward. Whether you're passionate about web development, data analytics, digital marketing, or any other field, we have the perfect internship opportunity for you
        </p>
        <p>
            <h4><b>Why Choose Our Internship Programs?</b></h4>
        <p><b>Comprehensive Curriculum:</b> Our internship programs feature a comprehensive curriculum designed to provide you with a deep understanding of the latest industry trends and technologies. You'll gain practical experience through hands-on projects and real-world scenarios, preparing you for the demands of the job market.</p>
        <p><b>Expert Guidance:</b> Throughout your internship journey, you'll receive guidance and mentorship from industry experts who are dedicated to helping you succeed. From personalized feedback to one-on-one sessions, we're committed to supporting your growth and development every step of the way.</p>
        <p><b>Flexibility:</b> We understand that every student has unique schedules and commitments. That's why our internship programs offer flexibility, allowing you to balance your academic responsibilities with your internship activities. Whether you prefer full-time or part-time opportunities, we have options to suit your needs.</p>
        <p><b>Networking Opportunities:</b> During your internship, you'll have the chance to connect with professionals in your field, expand your professional network, and gain valuable insights into industry best practices. Building these relationships can open doors to future career opportunities and collaborations.</p>
        </p>

        <p>
            <h4><b>Internship Criteria:</b></h4>
        </p>
        <p>
            <b>Eligibility:</b> Our internship programs are open to students from all academic backgrounds. Whether you're an undergraduate, graduate, or recent graduate, you're welcome to apply.
        </p>
        <p>
            <b>Duration:</b> The duration of our internship programs varies depending on the course and your availability. Internships typically range from three months to one year, with options for extension based on performance.
        </p>
        <p>
            <b>Internship Time:</b> Our internship programs offer flexible timing options to accommodate your schedule. You can choose to intern full-time, part-time, or even remotely, allowing you to balance your internship with other commitments.
        </p>
        <p>
            <b> Certification:</b> Upon successful completion of the internship program, you'll receive a certification recognizing your achievements and the skills you've acquired during your internship journey. This certification can add value to your resume and set you apart in the competitive job market.
        </p>
        <p>
            <h4><b>Apply Now and Take the Next Step in Your Career!</b></h4>
        <p>Our organization offers internships for all the courses we provide, including DevOps , Testing , Data Science. Students enrolled in our programs have the opportunity to gain practical experience through internships tailored to each course's curriculum.</p>
        <p>We provide internship opportunities for all our courses including .Net training featuring an updated syllabus centered around live projects. Our internship program ensures that upon completion of training, students are proficient in independent project development, preparing them for successful internship applications.</p>
            <p>
            Ready to embark on an exciting internship journey with Our Organization.Don't miss out on this incredible opportunity to gain hands-on experience, expand your skill set, and jumpstart your career. Visit our website today to explore our internship programs and take the first step towards a brighter future!
            
            Join CIIT Training Institute and unlock your potential today!
        </p>
        </p>
    </div>
    <div>
      
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Why CIIT?</h4>
        </div>
        <ul style="font-size:14px;list-style:none;margin-top:2%">
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Latest Curriculum</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Highly Experienced Trainers</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Chance to work with our development team</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Practically Work on Projects & Case Studies</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Real time project Training</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Weekly Mock & HR Interviews </h6></li>
            @* <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li> *@
        </ul>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Course Curriculum</h4>
        </div>

        <p style="margin-top:2%">
            This Internship is ideal for anyone with an interest in creating their own projects from scratch. CIIT provides a promising platform for individuals seeking to embark on an enriching internship journey in the IT industry, enabling them to pursue a limitless career.
        </p>
    </div>
    <div>

        <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
            <h4 style="margin-top:2%"> Internship Program offered by CIIT Training Institute</h4>
            <div class="row">
                <div class="col-md-9">
            
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Internship Program </a>
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
                                                <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                <br />
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this Internship</h5>
                                                <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 4 Months Training and 2 Months Live Project</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                <ul style="padding-left:10%">
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                    @* <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 1 Real Time Industry Project</li> *@
                                                </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Internship We Offer</h5>
                                                <ul style="padding-left:10%">


                                                    <li>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Dot Net Developer</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Analyst</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Data Science</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> DBA</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> DevOps</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Digital Marketing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Java Developer</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> MEAN Developer</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> MERN Developer</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> PHP</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Python</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Graphic Designer</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Testing</li>

                                                        </ul>
                                                        <hr />

                                                    </li>
                                                  
                                                    
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Other Internship We Offer</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Software Developer</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Software Engineer</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Information Technology (IT) Professional</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Python Developer</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> IT help Desk Professional</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Computer Programming Instructor</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Computer Engineer</li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 1 Real Time Project</li>


                                                        </ul>
                                                        <hr />

                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            </div>

                <div class="col-md-3">
                    @Html.Partial("PartialView")

                </div>
            </div>
        </div>

 
    </div>
</div>

