@{
    ViewData["Title"] = "Java Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
   
</style>

<div class="container" style="padding-top:80px;text-align:justify;font-size:14px;font-family:'Bookman Old Style'">
 
    <img src="~/assets/Courses/mainjava.jpg" style="height:100%;width:100%" />

    <h4 style="margin-top:2%;text-align:left" >
        Annually over 700 students find Rewarding Placements as Java Full Stack Developers in the thriving IT sector.
    </h4>
    <div>
        <p>
            Java language got computed by Sun Microsystems in 1995. It is fast, reliable and secure. It is a development terminology particularly made for use in the shared atmosphere of the Internet. It was meant to have the "look and feel" of the C++ terminology, but it is much easier to use than C++ and makes sure an object-oriented development design. There are lots of programs and websites that will not work until you have Java set up, and many of such programs are created every day. It is fast, protected, and efficient. From laptop computers to datacenters, gaming control to scientific supercomputers, mobile cell phones to the Internet, Java is everywhere! Java developers create powerful programs and websites. One of the basic responsibilities is writing class data files. Java developers perform at every stage of the technological innovation process, through: taking requirements, developing prototypes, and establishing products.
        </p>
        <div>
            <p>Java’s versatility and compatibility are among its biggest strengths when it comes to full stack development. Being platform-independent, Java allows developers to write code once and run it anywhere. This means that you can build applications that can run seamlessly on different operating systems such as Windows, macOS, or Linux without any modifications. This flexibility saves time and effort in the development process while ensuring maximum reach for your application.</p>
        </div>
        <div>
            <p>Moreover, Java’s compatibility extends beyond just operating systems. It also supports a wide range of devices including desktops, mobile devices, embedded systems, and even IoT devices. This makes it an ideal choice for developing full stack applications that need to be accessible across various platforms.</p>
        </div>
        <h4 style="margin-top:2%" id="jf"> Course Overview</h4>
        <p>
            Now a days Developers no longer play a single role in development, they have become multitasking, by playing different roles like designers, developers, coders, databases specialists, and so on. The days of a developer simply working on one aspect of developing an app or website is gone. Now a days many companies start hiring JAVA Full Stack Developers – or developers who can work on the frontend, backend and everything in between. </p>
            <p>This result in apps and websites having a more clean and finished look. But for fresher or experienced people to learn multiple technologies by own proved more difficult. Internet can provide tutorial for all these but it cannot teach real time work on products using JAVA development. This is why we have designed this Best Training Program to help you become a Java Developer. We can give guarantee that after completion of this program you will be the first choice for IT companies.

        </p>
       
    </div>
    
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Why CIIT?</h4>
        </div>
        @* <ul style="list-style:none;margin-top:2%;font-weight:bold;font-size:14px"> *@
        <ul style="font-size:14px;list-style:none;margin-top:2%">
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Latest Curriculum</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Highly Experienced Trainers</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Chance to work with our development team</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Practically Work on Projects & Case Studies</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Real time project Training</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Weekly Mock & HR Interviews </h6></li>
            @*  <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li> *@
        </ul>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Course Curriculum</h4>
        </div>

        <p style="margin-top:2%">
            The Java Full Stack Development course is tailor-made for aspiring individuals eager to craft innovative projects from the ground up. CIIT stands as the premier platform, empowering enthusiasts to embark on an endless journey in the dynamic IT industry as Java Developers.
        </p>
    </div>
    <div>



        <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
            <h4 style="margin-top:2%">Various Java Courses offered by CIIT Training Institute</h4>


            <div class="row">
                <div class="col-md-9">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Java Development<br /> With Stipend</a>
 
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Full Stack<br /> Development</a>
 
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Full Stack Development</a>
 
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Java for Working <br />Professionals</a>
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
                                                <h4 style="color:#e74c3c">CIIT Guarantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                <br />
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 4 Months Training and gauranteed job from 5th month</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                <ul style="padding-left:10%">
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Projects</li>
                                                </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                <ul style="padding-left:10%">
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> CSS,CSS3</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> TypeScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Angular Latest/ReactJs Latest</li>

                                                        </ul>
                                                        <hr />
                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Oracle</li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Java Technology </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Core Java</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>JDBC </li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JSP</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Servlet</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Spring Boot</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Spring MVC</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Hibernate</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JPA</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Struts</li>
                                                            

                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Unit Testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> GUI (Graphical User Interface)</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Java EE (Enterprise Edition) Technologies</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JDBC (Java Database Connectivity)</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Multithreading and Concurrency</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Exception Handling</li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 2 Real Time Projects</li>


                                                        </ul>
                                                        <hr />

                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
                                                <h4 style="color:#e74c3c">CIIT Gaurantee for 100% Job Assistance on industry oriented Java Training with live project with </h4>
                                                <br />

                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 6 Months Training With Real time project from Industry Experts</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                <ul style="padding-left:10%">
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Projects</li>
                                                </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                <ul style="padding-left:10%">
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> CSS,CSS3</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Angular Latest/ReactJs Latest</li>

                                                        </ul>
                                                        <hr />
                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Oracle</li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Java Technology </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Core Java</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>JDBC </li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JSP</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Servlet</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Spring Boot</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Spring MVC</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Hibernate</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JPA</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Struts</li>


                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Unit Testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> GUI (Graphical User Interface)</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Java EE (Enterprise Edition) Technologies</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JDBC (Java Database Connectivity)</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Multithreading and Concurrency</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Exception Handling</li>
                                                        </ul>
                                                        <hr />
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 2 Real Time Projects</li>


                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
                                                <h4 style="color:#e74c3c">CIIT Gaurantee for real time industry  training with live project</h4>
                                                <br />
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                <p class="card-text" style="padding-left:10%">  IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 2-3 Months</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Placements</h5>
                                                <ul style="padding-left:10%">
                                                    <li><i  style="color:#e74c3c"></i>  100% Job Assurance</li>
                                                   </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Training Topics</h5>
                                                <ul style="padding-left:10%">
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Oracle(SQL/PLSQL)</li>
                                                           
                                                        </ul>
                                                        <hr />
                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Java Technology</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Spring</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Spring MVC</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Spring BOOT</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Hibernate</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JPA</li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 1 Real Time Project</li>
                                                           

                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>





                <div class="col-md-3">
                    @Html.Partial("PartialView")

                </div>


            </div>
        </div>

    </div>
</div>

