@{
    ViewData["Title"] = " MEAN Full Stack Development";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

<div class="container" style="padding-top:80px;text-align:justify;font-size:14px;font-family:'Bookman Old Style'">
    <img src="~/assets/courses/MEAN1.png" style="height:280px;width:100%" />

    <h4 style="margin-top:2%;text-align:left">

        Annually over 600 aspiring individuals secure positions as Mean Stack Developers in the dynamic realm of the IT industry.
    </h4>
    <div>
        <p>
            Over the years MEAN stack has grown as a popular choice among full stack developers. More and more developers joined the parade mainly because MEAN is an all JavaScript stack. Apart from the easier learning and transition curves, MEAN stack also offers many advantages over other developmental stacks making it one of the most preferred and used one in recent times.
        </p>
        <p>
            MEAN stack is a compilation of JavaScript-based technologies used to develop dynamic web applications and hybrid mobile apps. MEAN denotes MongoDB, ExpressJS, AngularJS, and NodeJS, the technologies used in the stack. It has gained popularity because it allows developers to use the same language for frontend development as well as backend.

        </p>
        <ul>
            <li>
                <b>MongoDB:</b> a schema-less (document-oriented) NoSQL database
            </li>
            <li>
                <b>Express.js:</b> a server-side JavaScript framework running on top of Node.js
            </li>
            <li>
                <b>Angular:</b> a browser-independent MVC JavaScript UI framework
            </li>
            <li>
                <b>Nodejs:</b> a server-side JavaScript run-time based upon Google’s V8 JavaScript engine
            </li>
        </ul>
    </div>
    <div>
        <h4>What makes MEAN stack popular among startups?</h4>
        <ul>
            <li>
                <b>Open Source</b>
                <p>All the MEAN stack components are open-source and regularly updated, and it allows the developers to customize the code based on their needs. Data transfer between frontend and backend happens through a JavaScript object which makes life easier for developers.</p>
            </li>
            <li>
                <b>NodeJS is Superfast</b>
                <p>
                    
                    mainly because it is built on Google’s V8 JIT-compiled JavaScript engine which compiles and executes JavaScript code into native machine code very quickly. Node.Js also uses asynchronous programming, making processes such as I/O to network connections, file system, and database execute very fast. This nature of Node.js is termed as non-blocking IO. It follows a modular architecture which makes it easier to extend additional capabilities in future.
                </p>
            </li>
            <li>
                <b>MongoDB is a NoSQL database</b>
                <p>
                    
                    inherently flexible when compared to other SQL databases. MongoDB makes it easy to make changes in the data model on the go and gives a lot of options to make the queries faster for specific result sets. For databases which need to handle huge volumes of data, MongoDB becomes an obvious choice if the system is going to be designed and built from scratch. As MongoDB stores different structured data in same document collection there is no need to worry about old data if there is any change in the data model during the development process.
                </p>
            </li>
            <li>
                <b>Supports MVC Architecture</b>
                <p>
                    
                    AngularJS uses MVC to organize applications and thereby supports rapid and parallel development. MVC model allows multiple programmers to work on the code simultaneously. One programmer can work on the controller to create business logic and one on the view. Hence the development time can be reduced to three times.
                </p>
            </li>
            <li>
                <b>  Good community support</b>
                <p>
                  
                    AngularJS, NodeJS, ExpressJS, and MongoDB have a good user community and good adoption rate among the leading tech brands in the world including Google and Amazon.
                </p>
            </li>
            <li>
                <b> Uses JSON</b>
                <p>
                   
                    JSON is a JavaScript open standard file format which use human-readable text to transmit data objects. MEAN uses binary-JSON (BSON) for data everywhere, making it easier for reformatting data as it passes through different layers. MongoDB can store documents in a JSON format, ExpressJS can write queries in JSON and pass to NodeJS backend which understands JavaScript and seamlessly pass data to the AngularJS frontend.
                </p>

            </li>
        </ul>
         </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Why CIIT?</h4>
        </div>
        <ul style="font-size:14px;list-style:none;margin-top:2%">
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Latest Curriculum</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Highly Experienced Trainers</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Chance to work with our development team</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Practically Work on Projects & Case Studies</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Real time project Training</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Weekly Mock & HR Interviews </h6></li>
            @* <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li> *@
        </ul>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Course Curriculum</h4>
        </div>

        <p style="margin-top:2%">This comprehensive Mean Stack Development course is tailored for individuals keen on crafting projects from the ground up. CIIT stands as an exceptional platform for those aspiring to forge an unlimited career path as a Mean Stack Developer within the thriving IT industry.</p>
    </div>
    <div>



        <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
<<<<<<< HEAD
            <h4 style="margin-top:2%">Various MEAN Stack Courses offered by CIIT Training Institute</h4>
=======
            <h4 style="margin-top:2%;text-align:left">Various MEAN Stack Courses offered by CIIT Training Institute</h4>
>>>>>>> 31540cd491063ddadd76556de9cc75ac2c42f7d6


            <div class="row">
                <div class="col-md-9">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">MEAN Stack Development <br />With Stipend</a>
<<<<<<< HEAD
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Full Stack <br />Development</a>
=======
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Full Stack Development</a>
>>>>>>> 31540cd491063ddadd76556de9cc75ac2c42f7d6
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"> MEAN Stack for Working <br />Professionals</a>
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
                                                <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                <br />
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 3 Months Training and gauranteed job from 5th month</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                <ul style="padding-left:10%">
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Projects</li>
                                                </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                <ul style="padding-left:10%">
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> CSS,CSS3</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Angular All versions</li>

                                                        </ul>
                                                        <hr />
                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> MySQL</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> MongoDB</li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Server Side Scripting </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> NodeJs</li>
                                                           

                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Methodologies </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Agile</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> SCRUM</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Test-Driven Development (TDD)</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> DevOps</li>
                                                             </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 2 Real time Projects</li>
                                                            
                                                        </ul>
                                                        <hr />

                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
                                                <h4 style="color:#e74c3c">CIIT Gaurantee for 100% Job Assistance on industry oriented Dot Net Training with live project with </h4>
                                                <br />

                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 3 Months Training With Real time project from Industry Experts</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                @* <ul style="padding-left:10%">
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li>
                                                </ul> *@
                                                <ul style="padding-left:10%">
                                                    <li><i style="color:#e74c3c"></i>  100% Job Assurance</li>
                                                </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                <ul style="padding-left:10%">
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> CSS,CSS3</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Angular Latest</li>

                                                        </ul>
                                                        <hr />
                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> MySQL</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> MongoDB</li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Mean Stack Development </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Introduction to MEAN Stack</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> MongoDB</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Integration of MEAN Stack Components</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Deployment and Hosting</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Routing in ExpressJS</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Handling Requests and Responses</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Services and Dependency Injection</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> File System Operations</li>

                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Unit Testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Performance Optimization</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Security</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Integration and Deployment</li>
                                                        </ul>
                                                        <hr />

                                                    </li>

                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 2 Real Time Projects</li>


                                                        </ul>
                                                        <hr />

                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
                                                <h4 style="color:#e74c3c">Angular Ionic</h4>
                                                <br />
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                <p class="card-text" style="padding-left:10%">  Those who want to learn hybrid mobile development, who want to build robust and scalable mobile applications, who aspire to build a career in Ionic</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 1.5 Months</p>
                                                
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Training Topics</h5>
                                                <ul style="padding-left:10%">
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> CSS,CSS3</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> AngularJs</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Angular 6,7,8</li>

                                                        </ul>
                                                        <hr />
                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> MySQL</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> MongoDB</li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Server Side Scripting </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> NodeJs</li>
                                                            
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Methodologies  </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Agile</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> SCRUM</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Test-Driven Development (TDD)</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> DevOps</li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Projects </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 1 Real time Project</li>
                                                        
                                                        </ul>
                                                        <hr />

                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


                <div class="col-md-3">
                    @Html.Partial("PartialView")

                </div>
        </div>
        </div>
    </div>
</div>

