
@{
    ViewData["Title"] = "NodeJS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

<div class="container" style="padding-top:80px;text-align:justify;font-size:14px;font-family:'Bookman Old Style'">
    <img src="~/assets/images/nodejs.jpg" style="height:250px;width:100%" />


    <h4 style="margin-top:2%;text-align:left">

        Each year more than 800 students excel in our Node.js Course, catapulting themselves into lucrative roles across the IT industry.
    </h4>
    <div>
        <p>
            Node.js is an open-source, cross-platform JavaScript runtime environment used to build the back-end of applications. It's known as a "JavaScript everywhere" paradigm, unifying around a single programming language, in which dynamic web content is produced before being sent to clients.Footnote1 Node.js projects produce dynamic web applications within a JavaScript runtime environment and allow Full Stack Node.js developers to use command-line tools.
        </p>
        <p>
            The lightning pace of web and app development requires developers to reduce latency while retaining maximum scalability. This is not an easy task. Before Node.js, creating web servers required each request to spawn a new thread of execution or fork a new process. This can create a lot of overhead that a developer must continue to maintain. Node.js streamlines the process by running a single-threaded event loop. Each connection triggers a JavaScript callback function that can handle requests and spawn threads from a pool, if necessary. These functions require less computing power
        </p>
        <p>
            Node.js is a cross-platform, open-source JavaScript runtime environment that can run on Windows, Linux, Unix, macOS, and more. Node.js runs on the V8 JavaScript engine, and executes JavaScript code outside a web browser. Node.js lets developers use JavaScript to write command line tools and for server-side scripting.
        </p>

        <p>
            Node.js has an event-driven architecture capable of asynchronous I/O. These design choices aim to optimize throughput and scalability in web applications with many input/output operations, as well as for real-time Web applications (e.g., real-time communication programs and browser games).
        </p>
        <p>
            The Node.js distributed development project was previously governed by the Node.js Foundation,[8] and has now merged with the JS Foundation to form the OpenJS Foundation. OpenJS Foundation is facilitated by the Linux Foundation's Collaborative Projects program
        </p>
    </div>
    <div>
        <p>Enroll in our Node.js Course at CIIT Training Institute and unlock endless career prospects.</p>
        <p>
            At CIIT Training Institute, our Node.js Course offers comprehensive training tailored to individuals at every stage of their careers, from beginners to experienced professionals. With a track record of empowering over 10,000 students with Node.js expertise, many have reached their career milestones by securing prominent positions as Node.js Developers in top organizations.
        </p>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Why CIIT?</h4>
        </div>
        <ul style="font-size:14px;list-style:none;margin-top:2%">
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Latest Curriculum</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Highly Experienced Trainers</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Chance to work with our development team</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Practically Work on Projects & Case Studies</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Real time project Training</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Weekly Mock & HR Interviews </h6></li>
            @* <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li> *@
        </ul>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Course Curriculum</h4>
        </div>

        <p style="margin-top:2%">The NodeJS Course is the perfect fit for individuals passionate about creating projects from the ground up. CIIT is the ultimate destination for those looking to kickstart a rewarding career journey as a Node.js professional in the ever-evolving IT industry.</p>
    </div>
    <div>



        <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
            <<<<<<< HEAD
            <h4 style="margin-top:2%"> NodeJS Course offered by CIIT Training Institute</h4>
            =======
            <h4 style="margin-top:2%;text-align:left"> NodeJS Course offered by CIIT Training Institute</h4>
            >>>>>>> 31540cd491063ddadd76556de9cc75ac2c42f7d6

            <div class="row">
                <div class="col-md-9">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">NodeJS Course </a>
                                    </div>
                                </nav>
                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card border-primary shadow-sm  mb-4">
                                                    <div class="card-body">
                                                        <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                        <br />
                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                        <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                        <p class="card-text" style="padding-left:10%">
                                                            4 Days (Daily 4Hrs)
                                                            2 Months Live Project
                                                        </p>
                                                        <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Projects</li>
                                                        </ul>
                                                        <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                        <ul style="padding-left:10%">


                                                            <li>
                                                                <ul>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Introduction to NodeJS
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Setup Development Environment
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        NodeJS Modules

                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Node Package Manager

                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Creating Web Server
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>

                                                                        File System
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>

                                                                        Debugging NodeJS Application
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>

                                                                        Events
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        ExpressJS
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Serving Static Resources
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Database Connectivity
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        RESTful API's

                                                                    </li>

                                                                    @* <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure With Devops
                                                                        </li>
                                                                        <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Terraform Modules & Workspaces
                                                                        </li>
                                                                        <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure Devops And Azure Repos
                                                                        </li>
                                                                        <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure Artifacts And Azure Test Plans
                                                                        </li>
                                                                        <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure Artifacts And Azure Test Plans
                                                                        </li>
                                                                        <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Azure Boards
                                                                        </li>
                                                                        <li>
                                                                        <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                        Terraform With Azure
                                                                        </li> *@
                                                                </ul>
                                                                <hr />

                                                            </li>
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 2 Real Time Projects</li>


                                                                </ul>
                                                                <hr />

                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    @Html.Partial("PartialView")

                </div>
            </div>
            </<div></div>

        </div>
    </div>
</div>


