
@{
    ViewData["Title"] = "Powerbi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Powerbi</h1> *@


<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

<div class="container" style="padding-top:80px;text-align:justify;font-size:14px;font-family:'Bookman Old Style'">
    <img src="~/assets/images/powerbi.JPG" style="height:300px;width:100%" />


    <h4 style="margin-top:2%">

        Annually over 800 students master the Power BI Course, propelling themselves into prominent positions within the IT industry.
    </h4>
    <div>
        <p>
            The Power BI courses we offer are designed to help prepare you for a career in business intelligence, data visualization, and analytics, enabling you to transform raw data into insightful, decision-driving reports and dashboards.
        </p>
        <p>
            Power BI is a collection of software services, apps, and connectors that work together to turn your unrelated sources of data into coherent, visually immersive, and interactive insights. Your data might be an Excel spreadsheet, or a collection of cloud-based and on-premises hybrid data warehouses. Power BI lets you easily connect to your data sources, visualize and discover what's important, and share that with anyone or everyone you want.</p>
        <p>
            Power BI consists of several elements that all work together, starting with these three basics:

            A Windows desktop application called Power BI Desktop.
            An online software as a service (SaaS) service called the Power BI service.
            Power BI Mobile apps for Windows, iOS, and Android devices.
            </p>

        <p>
            One common workflow in Power BI begins by connecting to data sources in Power BI Desktop and building a report. You then publish that report from Power BI Desktop to the Power BI service, and share it so business users in the Power BI service and on mobile devices can view and interact with the report.
            </p>
        <p>
            Power BI Desktop is a free application you install on your local computer that lets you connect to, transform, and visualize your data. With Power BI Desktop, you can connect to multiple different sources of data, and combine them (often called modeling) into a data model. This data model lets you build visuals, and collections of visuals you can share as reports, with other people inside your organization. Most users who work on business intelligence projects use Power BI Desktop to create reports, and then use the Power BI service to share their reports with others.
           </p>
    </div>
    <div>
        <p>Join our Power BI Course at CIIT Training Institute and open the door to limitless career opportunities.</p>
        <p>
            At CIIT Training Institute, we provide in-depth Power BI Course training designed for individuals at all career stages, from newcomers to seasoned professionals. Having empowered more than 10,000 students with Power BI skills, numerous have achieved their professional goals by securing prestigious roles as Power BI Course Developers in leading organizations.
        </p>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Why CIIT?</h4>
        </div>
        <ul style="font-size:14px;list-style:none;margin-top:2%">
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Latest Curriculum</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Highly Experienced Trainers</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Chance to work with our development team</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Practically Work on Projects & Case Studies</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Real time project Training</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Weekly Mock & HR Interviews </h6></li>
            @* <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li> *@
        </ul>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Course Curriculum</h4>
        </div>

        <p style="margin-top:2%">The Power BI Course is an ideal choice for those with a passion for building projects from scratch. CIIT stands out as a prime destination for individuals aspiring to embark on an expansive career journey as a Power BI professional in the dynamic IT sector.</p>
    </div>
    <div>



        <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
            <h4 style="margin-top:2%"> Power BI Course offered by CIIT Training Institute</h4>

            <div class="row">
                <div class="col-md-9">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Power BI Course </a>
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
                                                <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                <br />
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 6 Months Training and 2 Months Live Project</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                <ul style="padding-left:10%">
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                       <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li> 
                                                     <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li> 
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Projects</li>
                                                </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                <ul style="padding-left:10%">


                                                    <li>
                                                        <ul>
                                                            <li>
                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                 Introduction
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                               Installation Steps
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                 Architecture
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                               Support Data Sources
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                Comparison with other BI toola
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>

                                                                 Data Modeling
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>

                                                                 Dashboard Options
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>

                                                                 Visualisation Options
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                 Excel Integration
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                 Sharing POWER BI Dashboard
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                Dax basics in POWER BI
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                                Administration Role
                                                            </li>
                                                           
                                                            @* <li>
                                                            <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                            Azure With Devops
                                                            </li>
                                                            <li>
                                                            <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                            Terraform Modules & Workspaces
                                                            </li>
                                                            <li>
                                                            <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                            Azure Devops And Azure Repos
                                                            </li>
                                                            <li>
                                                            <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                            Azure Artifacts And Azure Test Plans
                                                            </li>
                                                            <li>
                                                            <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                            Azure Artifacts And Azure Test Plans
                                                            </li>
                                                            <li>
                                                            <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                            Azure Boards
                                                            </li>
                                                            <li>
                                                            <i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>
                                                            Terraform With Azure
                                                            </li> *@
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 2 Real Time Projects</li>


                                                        </ul>
                                                        <hr />

                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

                <div class="col-md-3">
                    @Html.Partial("PartialView")

                </div>
    </div>
    </div></div>

</div>
 
