@{
    ViewData["Title"] = "Software Testing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

<div class="container" style="padding-top:80px;text-align:justify;font-size:14px;font-family:'Bookman Old Style'">
    <img src="~/assets/courses/testing.jpg" style="height:100%;width:100%" />

    <h4 style="margin-top:2%;text-align:left">
        Overview of the Software Testing World
    </h4>
    <div>
        <p>
            Software testing involves the execution of a software or an application to ensure its quality. The testing process basically involves finding the defects and getting them fixed from the developers. Software testing is carried out by software testers. This field has various roles based on designation hierarchy like tester, test lead, manager etc. Manual testing and automation testing can be called the two pillars of testing as it can be carried out in these two ways. You may come across terms like QA and QC in testing. QA or Quality Assurance in short can be called as preventive activities, while QC or Quality Control refers to the corrective process. Testing on the other hand can be called a preventive process.
        </p>
      
    </div>
    <div>
        <p>
            The Software Testing courses we offer are designed to help prepare you for a career in quality assurance, automation testing, software validation, and bug tracking, equipping you with the skills to ensure software reliability and performance in various development environments.
        </p>
    </div>
    <div>
        <p>
            Software testing is the process of checking the quality, functionality, and performance of a software product before launching. To do software testing, testers either interact with the software manually or execute test scripts to find bugs and errors, ensuring that the software works as expected.
        </p>
    </div>
  
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>How CIIT different From Other Institutes</h4>
        </div>
        <ul style="font-size:14px;list-style:none;margin-top:2%">
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Latest Curriculum</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Highly Experienced Trainers</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Chance to work with our development team</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Practically Work on Projects & Case Studies</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Real time project Training</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Weekly Mock & HR Interviews </h6></li>
            @* <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li> *@
        </ul>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Course Curriculum</h4>
        </div>

        <p style="margin-top:2%">This Software Testing course is perfect for aspiring individuals eager to craft their projects from the ground up. CIIT stands as an exceptional platform for those aiming to embark on an endless journey of success as Software Testing in the thriving IT industry.</p>
    </div>
    <div>



        <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
            <h4 style="margin-top:2%"> Software Testing Course offered by CIIT Training Institute</h4>


            <div class="row">
                <div class="col-md-9">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Software Testing for Working Professionals</a>
                             @*    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Full Stack Development</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" >Software Testing for Working Professionals</a> *@
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">

                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
@*                                                 <h4 style="margin-top:2%;color:blue;text-align:center">Diploma in Software Testing</h4> *@
                                                <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                               
                                                <br />
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 4 Months (3 Months Classroom Training and 1 Month Project Training)</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                <ul style="padding-left:10%">
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                    @* <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li> *@
                                                </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                <ul style="padding-left:10%">
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> CSS,CSS3</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                           
                                                        </ul>
                                                        <hr />
                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Oracle (SQL/PLSQL)</li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> JAVA </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Core Java</li>
                                                            
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Software Testing </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Manual Testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Automation Testing Tool(Selenium)</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> API's Testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JMeter</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Jenkins</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> ETL Testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Acceptance Testing.</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Black Box Testing.</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> End to End Testing.</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Functional Testing.</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>  Interactive Testing.</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Integration Testing.</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>  Load Testing.</li>
                                                        
                                                        </ul>
                                                        <hr />
                                                       
                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 1 Real Time Project</li>


                                                        </ul>
                                                        <hr />

                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           @*  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
                                                <h4 style="color:#e74c3c">CIIT Gaurantee for 100% Job Assistance on industry oriented Software Testing with live project with </h4>
                                                <br />

                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 6 Months Training With Real time project from Industry Experts</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                <ul style="padding-left:10%">
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li>
                                                </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                <ul style="padding-left:10%">
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> CSS,CSS3</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>

                                                        </ul>
                                                        <hr />
                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Oracle (SQL/PLSQL)</li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> JAVA </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Core Java</li>

                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Software Testing </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Manual Testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Automation Testing Tool(Selinium)</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Api Testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JMeter</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Jenkins</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> ETL Testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Acceptance testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Black box testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> End to end testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Functional testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>  Interactive testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Integration testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>  Load testing.</li>

                                                        </ul>
                                                        <hr />
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i>Projects </h6>

                                                        <ul>

                                                            <li> 1 Real Time Project</li>


                                                        </ul>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" style="padding:2%">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card border-primary shadow-sm  mb-4">
                                            <div class="card-body">
                                                <h4 style="color:#e74c3c">CIIT Gaurantee for real time industry training with live project</h4>
                                                <br />
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                <p class="card-text" style="padding-left:10%">  IT professionals</p>
                                                <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                <p class="card-text" style="padding-left:10%"> 2-3 Months</p>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Working Professionals</h5>
                                                <ul style="padding-left:10%">
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews </li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  We love to help working professionals in their current project</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls for switch from current job </li>
                                                    <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li>
                                                </ul>
                                                <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                <ul style="padding-left:10%">
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> CSS,CSS3</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>

                                                        </ul>
                                                        <hr />
                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Oracle (SQL/PLSQL)</li>
                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> JAVA </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Core Java</li>

                                                        </ul>
                                                        <hr />

                                                    </li>
                                                    <li>
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i> Software Testing </h6>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Manual Testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Automation Testing Tool(Selinium)</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Api Testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JMeter</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Jenkins</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> ETL Testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Acceptance testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Black box testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> End to end testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Functional testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>  Interactive testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Integration testing</li>
                                                            <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>  Load testing</li>

                                                        </ul>
                                                        <hr />
                                                        <h6><i class="fas fa-book" style="color:#e74c3c"></i>Projects </h6>

                                                        <ul>

                                                            <li> 1 Real Time Project</li>


                                                        </ul>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> *@

                        </div>
                    </div>
                </div>
            </div>
        </div>

                <div class="col-md-3">
                    @Html.Partial("PartialView")

                </div>

            </div>
        </div>
    </div>
</div>

