@{
    ViewData["Title"] = "Graphic designer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

<div class="container" style="padding-top:80px;text-align:justify;font-size:14px;font-family:'Bookman Old Style'">
    <img src="~/assets/courses/graphics design.jpg" style="height:300px;width:100%" />

    <h4 style="margin-top:2%">
        Every year 600+ Students get placed as a Graphic Designer in IT industry
    </h4><br />
    <div>
        <p>
            A Graphic designer is someone who creates visuals for a wide range of projects, from websites to print ads, to attract clients' attention through digital and physical designs that typically incorporate graphics, images, art, and other visual elements.
        </p>
        <p>
            Graphic design has, as a field of application, different areas of knowledge focused on any visual communication system. For example, it can be applied in advertising strategies, or it can also be applied in the aviation world[8] or space exploration.[9][10] In this sense, in some countries graphic design is related as only associated with the production of sketches and drawings, this is incorrect, since visual communication is a small part of a huge range of types and classes where it can be applied.

        </p>
        <p>
            William Addison Dwiggins is often credited with first using the term "graphic design" in a 1922 article,[14] although it appears in a 4 July 1908 issue (volume 9, number 27) of Organized Labor, a publication of the Labor Unions of San Francisco, in an article about technical education for printers
        </p>
        <p>
            Throughout the 20th century, the technology available to designers continued to advance rapidly, as did the artistic and commercial possibilities of design. The profession expanded greatly, and graphic designers created, among other things, magazine pages, book covers, posters, CD covers, postage stamps, packaging, brands, signs, advertisements, kinetic titles for TV programs and movies, and websites. By the early 21st century, graphic design had become a global profession as advanced technology and industry spread worldwide
        </p>
    </div>
    <div>
        <p>CIIT Training institute provide Graphic designer training for Freshers as well as for working professionals.Till date we have trained 10000+ students on Graphic designer technology and most of the students got job in their dream company as a Graphic designer Developer.</p>
        <p>We provide Graphic designer training with updated syllabus on live project only.We give gaurantee that after completion of training students can easily develop projects without anyone help.After training he/she can present himself/herself for</p>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Why CIIT?</h4>
        </div>
        <ul style="font-size:14px;list-style:none;margin-top:2%">
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Latest Curriculum</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Highly Experienced Trainers</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Chance to work with our development team</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Practically Work on Projects & Case Studies</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Real time project Training</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li>
            <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> Weekly Mock & HR Interviews </h6></li>
            @* <li><h6><i class="fas fa-arrow-right" style="color:#e74c3c"></i> 100% Job assurance</h6></li> *@
        </ul>
    </div>
    <div>
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Course Curriculum</h4>
        </div>

        <p style="margin-top:2%">This Graphic Design Development course is ideal for anyone with an interest in creating their own projects from scratch,CIIT is a good platform for those people who want to do limitless career as a graphic designer Developer in IT Indusrty. </p>
    </div>
    <div>



        <div class="" style="text-align:justify;font-family:'Bookman Old Style'">
            <h4 style="margin-top:2%"> Graphic Designer Course offered by CIIT Training Institute</h4>
            <div class="row">
                <div class="col-md-9">


                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Graphic Designer for Working Professionals</a>
                                        @*   <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Graphic Designer</a>
                                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Graphic Designer for Working Professionals</a> *@
                                    </div>
                                </nav>
                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:2%">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card border-primary shadow-sm  mb-4">
                                                    <div class="card-body">
                                                        <h4 style="color:#e74c3c">CIIT Gaurantee for Quality Training and Live Project with 100% Job Placement</h4>
                                                        <br />
                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Who can do this course</h5>
                                                        <p class="card-text" style="padding-left:10%"> Any Graduate ,Non IT / IT professionals</p>
                                                        <h5 class="card-title"><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Total Duration</h5>
                                                        <p class="card-text" style="padding-left:10%"> 4 Months Training and gauranteed job from 5th month</p>
                                                        <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Key Points for Freshers</h5>
                                                        <ul style="padding-left:10%">
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  100% Real time Project Training</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Training will be provided by Industry experts</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Mock Interviews will be conducted 2 days a week</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Best Platform for freshers to get their dream job in IT Industry</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Weekly Assessment</li>
                                                            <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  Unlimited Job Calls </li>
                                                            @* <li><i class="fas fa-arrow-right" style="color:#e74c3c"></i>  10+ Mini Projects and 2 Real Time Industry Project</li> *@
                                                        </ul>
                                                        <h5><i class="fas fa-star" style="color:#e74c3c;font-size:15px"></i> Course Contents</h5>
                                                        <ul style="padding-left:10%">
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Front End</h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Html,Html5</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> CSS,CSS3</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Bootstrap 5</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JavaScript</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> JQuery</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Adobe XD, Sketch, or Figma</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Responsive Design Principles</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Python, Ruby on Rails, or NodeJS</li>
                                                                </ul>
                                                                <hr />
                                                            </li>
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> RDBMS</h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> MySQL, Postgres SQL, MongoDB, or SQLite</li>
                                                                </ul>
                                                                <hr />

                                                            </li>
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Graphic Designer </h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Technical Drawing</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Representation Techniques</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Graphic Principles</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Image Design</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Page Architecture</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Words and Images</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Colours and Form</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Visual Culture</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Creative Thinking</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Psychology of Play</li>

                                                                </ul>
                                                                <hr />

                                                            </li>
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> More Important Topics </h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Typography</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Color Theory</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Composition and Layout</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Visual Hierarchy</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Image Editing and Manipulation</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> Logo Design</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>User Interface (UI) Design</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Print Design</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Motion Graphics and Animation</li>
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i>Portfolio Development</li>

                                                                </ul>
                                                                <hr />

                                                            </li>
                                                            <li>
                                                                <h6><i class="fas fa-book" style="color:#e74c3c"></i> Project </h6>
                                                                <ul style="padding-left:10%">
                                                                    <li><i class="fas fa-chevron-circle-right" style="color:#e74c3c"></i> 1 Real Time Project</li>


                                                                </ul>
                                                                <hr />

                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    @Html.Partial("PartialView")

                </div>
                </<div>

                </div>
            </div>
        </div>
    </div>
</div>

