@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/themes/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="~/themes/css/style.css" rel='stylesheet' type='text/css' />


<div class="login-logo">
    <a href="index.html"><img src="images/logo.png" alt="" /></a>
</div>
<h2 class="form-heading">login</h2>
<div class="app-cam">
    <form>
        <input type="text" class="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}">
        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
        <div class="submit"><input type="submit" onclick="myFunction()" value="Login"></div>
      
        <ul class="new">
            <li class="new_left"><p><a href="#">Forgot Password ?</a></p></li>
            <li class="new_right"><p class="sign">New here ?<a href="/Account/Register"> Sign Up</a></p></li>
            <div class="clearfix"></div>
        </ul>
    </form>
</div>
<div class="copy_layout login">
    <p>Copyright @Html.Raw("@")@DateTime.Now.Year   <a href="https://ciitinstitute.com" target="_blank">CIIT Training Institute</a> </p>
</div>
 
