<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> CIIT Training Institute - @ViewData["Title"] </title>
    <meta name="description" content="CIIT is a leading Skills and Talent Development Corporation that is building a manpower pool for global industry requirements. CIIT is a global leader in Skills and Talent Development, offers multi-disciplinary learning management and training delivery solutions to corporations, institutions, and individuals on various technologies. CIIT has three main lines of business – Corporate Training, Skills and Careers, and School/College Learning.">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Software training institute,Best software training institute in pune,IT training institute in pune, Programming Language Training in Hadapsar,Classroom training,Online training,Hand-on training,Live projects,100% placement calls,Real time projects, 100% job guarantee,Software Training with live projects,Software Training and certificate,IT training institute in Hadapsar,Full stack development, .Net full stack training in Hadapsar,.net training,.net training in pune,.net training in Hadapsar,Online java training,Online php training,Online python training,Online dot net training,Online .ne training,Online angular training.net course,Best dot net training,Dot net training,Asp.net with MVC Training,Mvc training,C# training and certification,Best dot net training,Wcf training,Dot net training near me,.net full stack development, Dot net development,.net core training in Hadapsar,.net core training,Java training,Java course,Java classes near me, Java training in Hadapsar,Java training in pune,Java full stack training,Java developer course,Java programming course,Spring boot course,Java full course,Advance java course,Java institute near me,Java full stack developer, Core java training,Java spring course,Java web development course,Spring framework training,Hibernate course,Spring and Hibernate training,Python programming language training,Python full stack development,Python training in Hadapsar,Python training in pune,Full stack python,Python full stack developer,Dejango framework,Full stack development with python,Mango DB training,MEAN Stack Development,MEAN stack,Mean stack developer,Mean developer,MEAN and MERN stack development,MEAN stack training in pune,MEAN stack training in Hadapsar,MERN full stack developer,Node js training,Learning MEAN stack,MEAN stack and MERN stack,Data science training,Data science course,Machine learning training,Artificial Intelligence training,Python for data science and machine learning,Front end development,UI developer,Front end developer,Front end development in pune, Front end development in Hadapsar,Web designing training,Web designing classes,Web designing course,UI designing,Angular training,Angular course,Angular training in pune,Angular training in Hadapsar,Angular classes near me,Angular training institute,Angular classroom training,Angular course,Best angular training institute,Angular 8 and Angular 9,Oracle DBA,Database Course,Database Training in Hadapsar,SQL training,PLSQL Training,Linux Training,Shell Scripting Training,Advance Database Training ,React Js Training for professionals,MERN stack Development,MERN Stack Training,Advance Web Development ,Backend Development,Backend Developer,Career Oriented Guidance,Job Oriented Training,Job Oriented Training Programs,Job Oriented Training Course,Make your Career in IT Sector," />

    <link rel="shortcut icon" href="~/assets/mainlogo.png">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="~/assets/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
        .select2-container .select2-selection--single {
            height: 34px !important;
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #ccc !important;
            border-radius: 0px !important;
        }

        .key-features .key-row .c1 {
            background-color: #151be7;
            width: 0%;
        }

        .key-features .key-row .c2 {
            background-color: #0b8b99;
            width: 0%;
        }
    </style>
</head>
<body>
    <div class="whatsapp-icon" style="margin-left:15px">
        <a href="https://api.whatsapp.com/send?phone=+7028565830&text=Hi+I+am+looking+for+HR+Training+course" target="_blank" aria-label="whatsapp">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>

    <button id="scrollUpButton" title="Go to top">
        <i class="fa fa-arrow-up"></i>
    </button>
    <marquee style="background-color:#223d50">
        <h4 style="color:white">Welcome To CIIT Training Institute</h4>
    </marquee>
    <header class="header_section" style="background-color:#f4f4f4;font-size:14px;font-family: 'Bookman Old Style'">
        <div class="container-fluid" style="height:80px;padding-top:10px">
            @* <nav class="navbar navbar-expand-lg custom_nav-container "> *@
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a href="/">

                    <img src="~/assets/mainlogo.png" alt="" style="height:70px;width:auto; position: absolute; top: 0; left: 0;">


                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  ml-auto ">
                        <li class="nav-item">
                            <b><a class="nav-link" href="/about-ciit"> About Us</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link" href="/latest-training-with-live-project">Training Courses</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link" href="/ciit-events"> Gallery</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link" href="/ciit-blogs">Blogs</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link" href="/out-students-placed-in-top-companies"> Placements</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link" href="/great-successful-career-with-ciit"> Career</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link" href="/contact-us">Contact Us</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link" href="/Enquiry/Index">Enquiry Form</a></b>
                        </li>
                     @*    <li class="nav-item">
                            <b><a class="nav-link" href="/Main/OnlineTraining">OnlineTraining</a></b>
                        </li> *@
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div style="">
        @RenderBody()
    </div>
    <div class="space"></div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 about" style="padding-right:20px">
                    <div>
                        <h2>Branches</h2>
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                            <b>Hadapsar</b>
                            <div>
                                Office #2, 1st floor, Manisha Blitz, Hadapsar, Near Shankar Math, Pune, Maharashtra 411013
                                <br />+91-7028565830<br>
                                +91-9975751649<br>
                            </div>
                        </div>
                        <hr />

                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                            <b>Vimannagar</b>
                            <div>
                                Office no 3A, 1st floor, Prakash Developers, Near Hotel Rasika, Pune Nagar Road, Vadgaon Sheri, Pune -411014<br />
                                +91-7028561830
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>

                <div class="col-md-3 glink" style="padding-top:2px">
                    <h2>Drop Us a Line</h2>
                    <div class="foot-address">
                        <div class="icon">
                            <i class="far fa-envelope-open"></i>

                        </div>

                        <div class="addet">
                            enquiry@ciitinstitute.com <br>

                        </div>
                    </div>
                    <div class="foot-address">
                        <div class="icon">
                            <i class="fas fa-globe"></i>

                        </div>

                        <div class="addet">
                            hr@ciitinstitute.com <br>

                        </div>
                    </div>

                    <div class="foot-address">
                        <div class="icon"><i class="fas fa-mobile-alt"></i></div>
                        <div class="addet">

                            +91-7028565830<br>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 working-hours">
                    <h2>Working Hours</h2>

                    <div class="row">
                        <div class="col-md-">
                            <p style="margin-right: 10px;margin-left:10px">Monday</p>
                            <p style="margin-right: 10px;margin-left:10px">Tuesday</p>
                            <p style="margin-right: 10px;margin-left:10px">Wednesday</p>
                            <p style="margin-right: 10px;margin-left:10px">Thursday</p>
                            <p style="margin-right: 10px;margin-left:10px">Friday</p>
                            <p style="margin-right: 10px;margin-left:10px">Saturday</p>
                            <p style="margin-left:10px">Sunday</p>
                        </div>
                        <div class="col-md-">
                            <p style="margin-right: 10px;">6 AM - 10 PM</p>
                            <p style="margin-right: 10px;">6 AM - 10 PM</p>
                            <p style="margin-right: 10px;">6 AM - 10 PM</p>
                            <p style="margin-right: 10px;">6 AM - 10 PM</p>
                            <p style="margin-right: 10px;">6 AM - 10 PM</p>
                            <p style="margin-right: 10px;">6 AM - 10 PM</p>
                            <p>8 AM - 4 PM</p>
                        </div>
                    </div>
                </div>

                @* <div class="col-md-3 working-hours" >
                <div style="text-align: center;">
                <h2>WORKING HOURS</h2>
                </div>
                <div class="row" style="margin-left:5px">
                <div class="col-md-">
                <p>Monday</p>
                <p>Tuesday</p>
                <p>Wednesday</p>
                <p>Thursday</p>
                <p>Friday</p>
                <p>Saturday</p>
                <p>Sunday</p>
                </div>
                <div class="col-md-">
                <p>6 AM - 10 PM</p>
                <p>6 AM - 10 PM</p>
                <p>6 AM - 10 PM</p>
                <p>6 AM - 10 PM</p>
                <p>6 AM - 10 PM</p>
                <p>6 AM - 10 PM</p>
                <p>8 AM - 4 PM</p>
                </div>
                </div>
                </div> *@

                <div class="col-md-3 tags" style="margin-left:0">
                    <h2>Common Menus</h2>
                    <ul>
                        <li><a href="/about-ciit" style="text-decoration:none;color:white">About Us</a></li>
                        <li><a href="/latest-training-with-live-project" style="text-decoration:none;color:white">Training Courses</a></li>
                        <li><a href="/out-students-placed-in-top-companies" style="text-decoration:none;color:white">Placement</a></li>
                        <li><a href="#" style="text-decoration:none;color:white">Feedback</a></li>
                        <li><a href="/ciit-events" style="text-decoration:none;color:white">Events</a></li>
                        <li><a href="/great-successful-career-with-ciit" style="text-decoration:none;color:white">Career</a></li>
                        <li><a href="/contact-us" style="text-decoration:none;color:white">Contact Us</a></li>
                        <li><a href="/Main/EnquiryForm" style="text-decoration:none;color:white">Enquiry For</a></li>
                        <li><a href="/Main/OnlineTraining" style="text-decoration:none;color:white">Online Training</a></li>
                        <li><a href="/Account/Register" target="_blank" style="text-decoration:none;color:white">Student Registration</a></li>
                    </ul>
                </div>
                @* <div id="menu" class="col-md-10 d-none d-md-block nav-item">
                <ul>
                <li><a href="/about-ciit" style="text-decoration:none">About Us</a></li>
                <li><a href="/latest-training-with-live-project" style="text-decoration:none">Training Courses</a></li>
                <!-- <li><a href="blog.html">Corporate Training</a></li> -->
                <li><a href="/ciit-events" style="text-decoration:none">Gallery</a></li>
                <li><a href="/ciit-blogs" style="text-decoration:none">Blogs</a></li>
                <li><a href="/out-students-placed-in-top-companies" style="text-decoration:none">Placements</a></li>
                <li><a href="/great-successful-career-with-ciit" style="text-decoration:none">Career</a></li>
                <li><a href="/contact-us" style="text-decoration:none">Contact Us</a></li>
                </ul>
                </div> *@
            </div>
        </div>
    </footer>

    <div class="copy">
        <div class="container">
            <a href="https://ciitinstitute.com" style="font-size:13px">2024 &copy; All Rights Reserved | Designed and Developed by CIIT Training Institute</a>

            <span>
                <a href="https://github.com/yuvrajgadadare/"><i class="fab fa-github"></i></a>
                @*  <a href="https://www.youtube.com/user/ciittraininginstitute" target="_blank">Your Link Text</a>

                <i class="fab fa-youtube"></i>
                </a> *@
                <a href="https://ciitinstitute.com/"><i class="fab fa-google-plus-g"></i></a>
                <a href="https://www.instagram.com/ciitpune/?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw%3D%3D">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://pin.it/58LhPlV2n"><i class="fab fa-pinterest-p"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/ciittraining"><i class="fab fa-facebook-f"></i></a>
            </span>
        </div>

    </div>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/slider/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script>
        //window.addEventListener('load', function () {
        //    setTimeout(function () {
        //        document.querySelector('.loading-overlay').style.display = 'none';
        //    }, 500);
        //});
    </script>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#scrollUpButton').fadeIn();
                } else {
                    $('#scrollUpButton').fadeOut();
                }
            });

            $('#scrollUpButton').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });
        });
    </script>

    <script>

        let isNavbarVisible = true;
        document.querySelector('.navbar-toggler').addEventListener('click', function (event) {
            if (isNavbarVisible) {
                document.querySelectorAll('.navbar-nav .nav-item').forEach(function (item) {
                    item.style.display = 'none';
                });
                isNavbarVisible = false;
            } else {
                document.querySelectorAll('.navbar-nav .nav-item').forEach(function (item) {
                    item.style.display = 'block';
                });
                isNavbarVisible = true;
            }
        });
    </script>

</body>
</html>
