
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="container">
    <h5 style="text-align:center; border: 1px solid #ddd; border-bottom: 5px solid #e74c3c;
    padding: 30px 25px;
    transition: background 0.20s linear;
    background: #272e38; line-height: 25px;background: #272e38;color:white; border-radius: 0;height:55px;padding-top:15px">
        Courses
    </h5>
    <ul class="list-group" >
        <li class="list-group-item">
            <a href="/Dot-Net-Training-With-Live-Project#" style="text-decoration:none">.Net Full Stack</a>
        </li>
        <li class="list-group-item">
            <a href="/Java-Training-With-Live-Project" style="text-decoration:none">Java Full Stack</a>
        </li>
        <li class="list-group-item">
            <a href="/Python-Training-With-Live-Project" style="text-decoration:none">Python Full Stack</a>
        </li>
        <li class="list-group-item">
            <a href="/MERN-Stack-Training-With-Live-Project" style="text-decoration:none">MERN Stack</a>
        </li>

        <li class="list-group-item">
            <a href="/MEAN-Stack-Training-With-Live-Project" style="text-decoration:none">MEAN Stack</a>
        </li>
        <li class="list-group-item">
            <a href="/DevOps-Training-With-Live-Project" style="text-decoration:none">DevOps</a>
        </li>
        <li class="list-group-item">
            <a href="/Software-Testing-Training-With-Live-Project" style="text-decoration:none">Software Testing</a>
        </li>
        <li class="list-group-item">
            <a href="/Data-Science-Training-With-Live-Project" style="text-decoration:none">Data Science</a>
        </li>
        <li class="list-group-item">
            <a href="/Data-Analyst-Training-With-Live-Project" style="text-decoration:none">Data Analyst</a>
        </li>
        <li class="list-group-item">
            <a href="/PowerBi" style="text-decoration:none">Power BI</a>
        </li>
        <li class="list-group-item">
            <a href="/Nodejs" style="text-decoration:none">NodeJS</a>
        </li>
        <li class="list-group-item">
            <a href="/Angular" style="text-decoration:none">Angular</a>
        </li>
        <li class="list-group-item">
            <a href="/Digital-Marketing-Training-With-Live-Project" style="text-decoration:none">Digital Marketing</a>
        </li>
        <li class="list-group-item">
            <a href="/C-CPP-DS-Language-Training" style="text-decoration:none">C , CPP , DS</a>
        </li>
        <li class="list-group-item">
            <a href="/Internship-With-Live-Project" style="text-decoration:none">Internship</a>
        </li>
        <li class="list-group-item">
            <a href="/Corporate-Training-With-Live-Project" style="text-decoration:none">Corporate Training</a>
        </li>
        <li class="list-group-item">
            <a href="/Excel" style="text-decoration:none"> Excel Course</a>
        </li>
        <li class="list-group-item">
            <a href="/DBA-Training-With-Live-Project" style="text-decoration:none">DBA</a>
        </li>
        <li class="list-group-item">
            <a href="/Php-Training-With-Live-Project" style="text-decoration:none">PHP Development</a>
        </li>
        <li class="list-group-item">
            <a href="/UI-UX-Training-With-Live-Project" style="text-decoration:none">Graphic Designer</a>
        </li>
    </ul>
</div>