@{
    ViewData["Title"] = "Career Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>
<div class="container" style="padding-top:80px;text-align:justify; font-size:16px; font-family:'Bookman Old Style'">
    <div class="row">
        <img src="~/assets/career.jpg" style="height: 400px; width: 100%; border-radius: 15px; padding: 0px 10px;" />
    </div>
    <br />

    <div class="row" style="font-size:14px;padding:10px">
        <h4 style="color:#007bff;">
            Career Overview

        </h4>
        <p>
            If one were to ask when a person’s career starts, the most common answer would be,
            ‘with his first job’. But if the question was, ‘when does the preparation for one’s
            career start’, there might not be as clear-cut an answer. Career is often defined
            as the general course or progression of one’s working life or one’s professional
            achievements. However, the preparation for any career, irrespective of how successful
            it is, starts much before one actually starts working.
        </p>
        <p>
            CIIT INSTITUTE. has identified three distinct stages in a person’s career, each
            stage being equally important on the path to vocational self actualization. The
            three stages are, (1) Knowledge Enablement, (2) Employability Enhancement and (3)
            Job Effectiveness & Efficiency
        </p>
        <p>
            Knowledge Enablement typically happens during the pre-job and early career stages.
            It is during these years that one can develop life skills and career foundation
            skills, which will have a long-term impact on the shape that one’s career takes.
            Language, communication, logical, mathematical, IT foundation skills etc. are enabling
            skills that help one assimilate knowledge, analyze it, and communicate one’s thoughts
            and ideas effectively. These vital skills are the absolute bedrock of a successful
            career.
        </p>

        <p>
            Employability enhancement focuses on the skills required to get and keep one’s job,
            typically one’s first job. Employability is a result of Robust Educational Qualifications,
            Right Attitude, Strong Aptitude and Interest, Effective Communication Skills, Technical
            Competency, Relevant Global Certifications, and Demonstrable Project or Work Experience.
        </p>


        <br />
        <h4 style="color:#007bff;text-align:left ">
            Effectiveness and Efficiency in the Career Life Cycle
        </h4>




        <p>
            paradigm refer simply to a set of skills that help the individual do a better job.
            These would typically be relevant once the person has gained initial employment
            and is looking for a career step-up. At this stage, the focus of career development
            shifts from basic issues of vocational identity to acquiring sharpness in skills
            or education or opportunity. Individuals, through CIIT training edge, can re-focus
            on shaping their vocational identity consistent with their deepest, wisest self.
        </p>

        <p>
            We identify our value proposition to knowledge seekers as a company that provides
            essential support through appropriate training intervention to an individual throughout
            his/her career lifecycle.
        </p>

        <p>
            From an employer’s perspective, the Career Lifecycle is a natural reflection of
            the belief that employees of an organization are it's most valuable asset and that
            effectively managing their Career Lifecycle is vital to the organization’s success.
            Employees who are given the tools to make strong career choices are more satisfied,
            engaged and will positively contribute to organization bottom line
        </p>

        <br />
        <h4 style="color:#007bff;text-align:left"> In our opinion, the main challenges related to skilled HR are </h4>
        <br />
        <ul style="font-size:14px">
            <li> Adapting to frequent and dynamic changes in resource requirements and projects<p></p></li>
            <li>Identifying people with Right Skills and Right Attitude<p></p></li>
            <li>We assess and identify people with right skills and attitude, and then train them on the latest technologies.<p></p></li>
            <li>We provide skill enhancement programs and consulting for adoption of the new Cutting Edge Technologies<p></p></li>


        </ul>
    </div>



</div>



