
@{
    ViewData["Title"] = "Training Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding-top:80px;text-align:justify; font-size:16px; font-family:'Bookman Old Style'">
    <div class="row">
        <img src="~/assets/training.png" style="height:300px; width:100%;border-radius:10px;" />
    </div>

    <h3 style="margin-top:2%;color:#e74c3c;text-align:center">
        Our Job Guarnteed Training Programs

    </h3>
    <br />
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class="courc-card">
                    <a href="/Dot-Net-Training-With-Live-Project" style="text-decoration:none">

                        <img src="~/assets/technologies/dotnet.png" style="height:200px;width:100%" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center><h6>.Net Full Stack</h6></center>
                            @* <ul>
                                <li><i class="fas fa-graduation-cap">Training on Live Project</i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i> 14+ Years Experience Trainers</li>
                                </ul> *@
                        </div>

                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <a href="/Java-Training-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/technologies/java.png" style="height:200px;width:100%" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center><h6>Java Full Stack</h6></center>
                            @* <ul>
                                <li><i class="fas fa-graduation-cap">Training on Live Project</i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>14+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/Python-Training-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/technologies/python.png" style="height:200px;width:100%" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center> <h6>Python Full Stack</h6></center>
                            @*  <ul>
                                <li><i class="fas fa-graduation-cap">Senior Trainer</i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>14+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="/MERN-Stack-Training-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/technologies/MERN.png" style="height:200px;width:100%" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center> <h6>MERN Stack </h6></center>
                            @*  <ul>
                                <li><i class="fas fa-graduation-cap">Senior Trainer</i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>14+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-3">
                <a href="/MEAN-Stack-Training-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/Courses/MEAN1.png" style="height:200px;width:100%" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center><h6>MEAN Stack </h6></center>
                            @* <ul>
                                <li><i class="fas fa-graduation-cap">Senior Trainer</i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>14+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>



            <div class="col-md-3">
                <a href="/DevOps-Training-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/technologies/devops.png" style="height:200px;width:100%" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center><h6>DevOps</h6></center>
                            @* <ul>
                                <li><i class="fas fa-graduation-cap">Senior Trainer</i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>14+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>





            <div class="col-md-3">
                <a href="/Software-Testing-Training-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/technologies/Testing.png" style="height:200px;width:100%" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center> <h6>Software Testing</h6></center>
                            @*  <ul>
                                <li><i class="fas fa-graduation-cap">Senior Trainer</i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>14+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/Data-Science-Training-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/technologies/DataScience.png" style="height:200px;width:100%" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center> <h6>Data Science</h6></center>
                            @*  <ul>
                                <li><i class="fas fa-graduation-cap">Onl</i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>7+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-3">
                <a href="/Data-Analyst-Training-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/technologies/Analyst.png" style="height:200px;width:100%" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center><h6>Data Analyst</h6></center>
                            @* <ul>
                                <li><i class="fas fa-graduation-cap">Training With Real Time Project  </i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>7+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>



            <div class="col-md-3">
                <a href="/PowerBi" style="text-decoration:none">
                    <div class="courc-card">
                        <img src="~/assets/images/powerbi.JPG" style="height:200px;" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center> <h6>Power BI</h6></center>
                            @* <ul>
                                <li><i class="fas fa-graduation-cap">Training With Real Time Project  </i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>7+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>







            <div class="col-md-3">
                <a href="/Nodejs" style="text-decoration:none">
                    <div class="courc-card">
                        <img src="~/assets/images/nodejs.jpg" style="height:200px;" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center><h6>NodeJs</h6></center>
                            @* <ul>
                                <li><i class="fas fa-graduation-cap">Training With Real Time Project  </i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>7+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="/Angular" style="text-decoration:none">
                    <div class="courc-card">
                        <img src="~/assets/images/Angular.jpg" style="height:200px;" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center><h6>Angular</h6></center>
                            @* <ul>
                                <li><i class="fas fa-graduation-cap">Training With Real Time Project  </i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>7+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>













        </div>


        <br />
        <div class="row">
            <div class="col-md-3">
                <a href="/Digital-Marketing-Training-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/Courses/Digital Marketing.jpeg" style="height:200px;" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center><h6>Digital Marketing</h6></center>
                            @* <ul>
                                <li><i class="fas fa-graduation-cap">Senior Trainer</i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>14+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/C-CPP-DS-Language-Training" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/Courses/ccppds.png" style="height:200px;" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center> <h6>C,CPP,DS</h6></center>
                            @*  <ul>
                                <li><i class="fas fa-graduation-cap">Onl</i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>7+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/Internship-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/Courses/college internship.png" style="height:200px;" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center> <h6>Internship </h6></center>
                            @*  <ul>
                                <li><i class="fas fa-graduation-cap">Senior Trainer</i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>14+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="/Corporate-Training-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/Courses/Corporate training.jpeg" style="height:200px;" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center> <h6>Corporate Training</h6></center>
                            @* <ul>
                                <li><i class="fas fa-graduation-cap">Training With Real Time Project  </i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>7+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>

            <br />


            <div class="col-md-3">
                <a href="/Excel" style="text-decoration:none">
                    <div class="courc-card">
                        <img src="~/assets/images/excelsheet.JPG" style="height:200px;" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center><h6>Advanced Excel Course</h6></center>
                            @* <ul>
                                <li><i class="fas fa-graduation-cap">Training With Real Time Project  </i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>7+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="/DBA-Training-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/Courses/DBA.jpg" style="height:200px;width:100%" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center><h6>DBA </h6></center>
                            @*  <ul>
                                <li><i class="fas fa-graduation-cap">Senior Trainer</i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>14+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>



            <div class="col-md-3">
                <a href="/Php-Training-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/Courses/Php.png" style="height:200px;width:100%" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center> <h6>PHP Development</h6></center>
                            @*  <ul>
                                <li><i class="fas fa-graduation-cap">Onl</i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>7+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>



            <div class="col-md-3">
                <a href="/UI-UX-Training-With-Live-Project" style="text-decoration:none">

                    <div class="courc-card">
                        <img src="~/assets/Courses/graphics design.jpg" style="height:200px;width:100%" alt="">
                        <div class="cource-det">
                            <div style="padding-top:5px"></div>
                            <center><h6>Graphics Design</h6></center>
                            @* <ul>
                                <li><i class="fas fa-graduation-cap">Training With Real Time Project  </i> <span></span></li>
                                <li><i class="far fa-calendar-plus"></i>7+ Years Experience Trainers</li>
                                </ul> *@
                        </div>
                    </div>
                </a>
            </div>














        </div>
    </div>
</div>
 