<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Free University Website Template | Smarteyeapps.com</title>

    <link rel="shortcut icon" href="assets/images/fav.jpg">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="assets/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

</head>

<body>
    
    <!-- ################# Header Starts Here#######################--->
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 left-item">
                        <ul>
                            <li><i class="fas fa-envelope-square"></i>https://ciitinstitute.com</li>
                            <li><i class="fas fa-phone-square"></i>7028565830</li>
                        </ul>
                    </div>
                    <div class="col-lg-5 d-none d-lg-block right-item">
                        <ul>
                            <li><a><i class="fab fa-github"></i></a></li>
                            <li><a><i class="fab fa-google-plus-g"></i></a></li>
                            <li> <a><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a><i class="fab fa-twitter"></i></a></li>
                            <li> <a><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-12 nav-img">
                        <img src="assets/images/logo.png" alt="">
                       <a data-toggle="collapse" data-target="#menu" href="#menu" ><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                    </div>
                    <div id="menu" class="col-md-10 d-none d-md-block nav-item">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about_us.html">About Us</a></li>
                            <li><a href="cources.html">Cources</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                          
                            <li><a href="contact_us.html">Contact Us</a></li>
                        </ul>
                        
                    </div>
                </div>

            </div>
        </div>

    </header>
    
    
    <!-- ################# Slider Starts Here#######################--->
     <div class="slider">
        <!-- Set up your HTML -->
        <div class="owl-carousel ">
            <div class="slider-img">
                <div class="item">
                    <div class="slider-img"><img src="assets/images/slider/slider-1.jpg" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">Best Free University Template</h1>
                                    <p class="slider-text hidden-xs">We can help you conquer a wide range of psychological and emotional problems.</p>
                                    <a href="#" class="btn btn-success hidden-xs">View All Cources</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="assets/images/slider/slider-2.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">Education Learning Course</h1>
                                <p class="slider-text hidden-xs">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et.</p>
                                <a href="#" class="btn btn-success hidden-xs">Schedule A Visit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"> <img src="assets/images/slider/slider-3.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">Best Free University Template</h1>
                                <p class="slider-text hidden-xs">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et.</p>
                                <a href="#" class="btn btn-success hidden-xs">Join Today</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
        <!-- ################# Key Features Starts Here#######################--->
    <div class="key-features">
        <div class="container">
            <div class="row key-row no-margin">
                <div class="box c1">
                   <i class="fas fa-project-diagram"></i>
                    <p>Graphic Design</p>
                </div>
                <div class="box c2">
                     <i class="fas fa-space-shuttle"></i>
                    <p>Marketing Online</p>
                </div>
                <div class="box c1">
                    <i class="fas fa-globe-americas"></i>
                    <p>Website Design</p>
                </div>
                <div class="box c2">
                    <i class="fas fa-feather-alt"></i>
                    <p>Animation</p>
                </div>
                <div class="box c1">
                     <i class="fab fa-app-store-ios"></i>
                    <p>App Programing</p>
                </div>
            </div>
        </div>
    </div>
    
<!-- ################# popular Cources Starts Here#######################--->
<div class="popular-cources">
    <div class="container">
        <div class="session-title row">
            <h2>Our Instructors</h2>
        </div>
        <div class="row courc-ro">
            <div class="col-md-4">
                <div class="courc-card">
                    <img src="assets/images/cources/cource-1.jpg" alt="">
                    <div class="cource-det">
                        <h6>Graphic Design</h6>
                        <ul>
                            <li><i class="fas fa-graduation-cap"></i> Adam Jhon <span>Free</span></li>
                            <li><i class="far fa-calendar-plus"></i> June 23- Nov23</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="courc-card">
                    <img src="assets/images/cources/cource-2.jpg" alt="">
                    <div class="cource-det">
                        <h6>Online Marketing</h6>
                        <ul>
                            <li><i class="fas fa-graduation-cap"></i> Adam Jhon <span>Free</span></li>
                            <li><i class="far fa-calendar-plus"></i> June 23- Nov23</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="courc-card">
                    <img src="assets/images/cources/cource-3.jpg" alt="">
                    <div class="cource-det">
                        <h6>App Programing</h6>
                        <ul>
                            <li><i class="fas fa-graduation-cap"></i> Adam Jhon <span>Free</span></li>
                            <li><i class="far fa-calendar-plus"></i> June 23- Nov23</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
         

        
  <!-- ################# University Number Starts Here#######################--->


    <div class="doctor-message">
        <div class="inner-lay">
            <div class="container">
                <div class="row session-title">
                    <h2 style="margin-left:200px">CIIT Training Institute</h2>
                    <p>
                        <h4 style="margin-left:190px"> We recognize and realize potential.</h4>

                        <h6 style="margin-left:80px;padding-top:10px">
                            Join the league of achievers we offer at CIIT Training Institute.
                            where dreams find direction.
                        </h6>
                  </div>
                <div class="row">
                    <div class="col-sm-3 numb">
                        <h3>14+</h3>
                        <span>YEARS OF EXPEREANCE</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>100+</h3>
                        <span>COURSES</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>52+</h3>
                        <span>QUALIFIED STUFF</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>18+</h3>
                        <span>MASTER CERTIFICATIONS</span>
                    </div>
                </div>
            </div>

        </div>

    </div>     
         
         
         
          
<!-- ################# Our Instructors Starts Here#######################--->    

<div class="our-instructor">
    <div class="container">
         <div class="session-title row">
            <h2>Our Instructors</h2>
        </div>
        <div class="instruct-row row">
            <div class="col-md-3">
                <div class="instruct-card">
                    <img src="assets/images/team/avatar-2.jpg" alt="">
                <h6>Andre Jhon</h6>
                <p>Graphic Design</p>
                
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                    <li><i class="fab fa-pinterest-p"></i></li>
                </ul>
                </div>
            </div>
             <div class="col-md-3">
                <div class="instruct-card">
                    <img src="assets/images/team/avatar-3.jpg" alt="">
                <h6>Ahalkji Jhon</h6>
                <p>Graphic Design</p>
                
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                    <li><i class="fab fa-pinterest-p"></i></li>
                </ul>
                </div>
            </div>
             <div class="col-md-3">
                <div class="instruct-card">
                    <img src="assets/images/team/avatar-5.jpg" alt="">
                <h6>Reniju Sam</h6>
                <p>Graphic Design</p>
                
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                    <li><i class="fab fa-pinterest-p"></i></li>
                </ul>
                </div>
            </div>
             <div class="col-md-3">
                <div class="instruct-card">
                    <img src="assets/images/team/avatar-4.jpg" alt="">
                <h6>Depak Andrw</h6>
                <p>Graphic Design</p>
                
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                    <li><i class="fab fa-pinterest-p"></i></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div> 
          
 <!-- ################# Our Blog Starts Here#######################---> 
 
               
<div class="our-blog">
    <div class="container">
         <div class="session-title row">
            <h2>Our Blogs</h2>
        </div>
        
        <div class="row-blog row">
            <div class="col-md-10 vbf mx-auto">
                <div class="blog-card row">
                
                        <div class="col-2">
                           <div class="date-box">
                                <span>Jun</span>
                                <p>3</p>
                                <small>2019</small>
                           </div>
                           
                        </div>
                        <div class="col-7 setv">
                            <h4>Photo Exibition in the Library</h4>
                            <ul>
                                <li>8:00 - 12:00</li>
                                <li>Forest, Avenue, Aenean egestas</li>
                            </ul>
                        </div>
                        <div class="col-3 img-cv">
                            <img src="assets/images/cources/cource-1.jpg" alt="">
                        </div>
                    </div>
                    
                 <div class="blog-card row">
                
                        <div class="col-2">
                           <div class="date-box">
                                <span>Jun</span>
                                <p>2</p>
                                <small>2019</small>
                           </div>
                           
                        </div>
                        <div class="col-7 setv">
                            <h4>Photo Exibition in the Library</h4>
                            <ul>
                                <li>8:00 - 12:00</li>
                                <li>Forest, Avenue, Aenean egestas</li>
                            </ul>
                        </div>
                        <div class="col-3 img-cv">
                            <img src="assets/images/cources/cource-2.jpg" alt="">
                        </div>
                    </div>
                    
                    
                 <div class="blog-card row">
                
                        <div class="col-2">
                           <div class="date-box">
                                <span>Jun</span>
                                <p>4</p>
                                <small>2019</small>
                           </div>
                           
                        </div>
                        <div class="col-7 setv">
                            <h4>Photo Exibition in the Library</h4>
                            <ul>
                                <li>8:00 - 12:00</li>
                                <li>Forest, Avenue, Aenean egestas</li>
                            </ul>
                        </div>
                        <div class="col-3 img-cv">
                            <img src="assets/images/cources/cource-3.jpg" alt="">
                        </div>
                    </div>
                    
                    
                 <div class="blog-card row">
                
                        <div class="col-2">
                           <div class="date-box">
                                <span>Jun</span>
                                <p>6</p>
                                <small>2019</small>
                           </div>
                           
                        </div>
                        <div class="col-7 setv">
                            <h4>Photo Exibition in the Library</h4>
                            <ul>
                                <li>8:00 - 12:00</li>
                                <li>Forest, Avenue, Aenean egestas</li>
                            </ul>
                        </div>
                        <div class="col-3 img-cv">
                            <img src="assets/images/cources/cource-2.jpg" alt="">
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>
          
  <!-- ################# Our Footer Starts Here#######################---> 
  
                  
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 about">
                <h2>About Us</h2>
                <p>Phasellus scelerisque ornare nisl sit amet pulvinar. Nunc non scelerisque augue. Proin et sollicitudin velit. </p>
                
                <div class="foot-address">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="addet">
                        BlueDart
                        Marthandam (K.K District)
                        Tamil Nadu, IND 
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                        <i class="far fa-envelope-open"></i>
                    </div>
                    <div class="addet">
                        info@smarteyeapps.com <br>
                        sales@smarteyeapps.com
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                         <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="addet">
                        +23 323 43434 <br>
                        +1 3232 434 55
                    </div>
                </div>
            </div>
            <div class="col-md-3 fotblog">
                <h2>From latest Blog</h2>
                <div class="blohjb">
                    <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum</p>
                    <span>22-1-2019</span>
                </div>
                <div class="blohjb">
                    <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum</p>
                    <span>22-1-2019</span>
                </div>
                <div class="blohjb">
                    <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum</p>
                    <span>22-1-2019</span>
                </div>
            </div>
            <div class="col-md-3 glink">
                <ul>
                    <li><a href="index.html"><i class="fas fa-angle-double-right"></i>Home</a></li>
                    <li><a href="about_us.html"><i class="fas fa-angle-double-right"></i>About Us</a></li>
                    <li><a href="services.html"><i class="fas fa-angle-double-right"></i>Services</a></li>
                    <li><a href="blog.html"><i class="fas fa-angle-double-right"></i>Blog</a></li>
                    <li><a href="pricing.html"><i class="fas fa-angle-double-right"></i>Gallery</a></li>
                    <li><a href="contact_us.html"><i class="fas fa-angle-double-right"></i>Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 tags">
                <h2>Easy Tags</h2>
                <ul>
                    <li>Finance</li>
                    <li>Web Design</li>
                    <li>Internet Pro</li>
                    <li>Node Js</li>
                    <li>Java Swing</li>
                    <li>Angular Js</li>
                    <li>Vue Js</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="copy">
            <div class="container">
                <a href="https://www.smarteyeapps.com/">2015 &copy; All Rights Reserved | Designed and Developed by Smarteyeapps</a>
                
                <span>
                <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-google-plus-g"></i></a>
                <a><i class="fab fa-pinterest-p"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-f"></i></a>
        </span>
            </div>

        </div>          
           
</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/slider/js/owl.carousel.min.js"></script>
<script src="assets/js/script.js"></script>


</html>
