
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="our-blog">
    <div class="container" style="padding-top:80px;text-align:justify; font-size:16px; font-family:'Bookman Old Style'">
        <h4 style="margin-top:2%;color:#007bff; padding-bottom:30px; text-align:center">
            Our Blogs


        </h4>
        @*  <div class="session-title row">

        </div> *@

        <div class="row-blog row" style="font-size:14px">
            <div class="col-md-12 vbf mx-auto">
                <div class="blog-card row">
                    <div class="col-4">
                        <iframe style="height:200px;width:100%" src="https://www.youtube.com/embed/XMtMNBneaM4?si=3DUTXNNgGLWsclCm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    </div>
                    <div class="col-8">

                        <div class="date-box" style="height:200px;text-align:justify">
                            <h5 style="text-align:center">Blog To Think before join any training institute </h5>
                            <div>Many time candidate think to join training institute for Professional IT courses.His/Her main motive is to get better training and get first break in IT industry.We have added video blog to guide candidate to select best training institute</div>

                        </div>

                    </div>
                </div>
                <div class="blog-card row">
                    <div class="col-4">
                        <iframe style="height:200px;width:100%" src="https://www.youtube.com/embed/CYA8v6ccLEk?si=SrNYUz9mKJMTLUkg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    </div>
                    <div class="col-8">

                        <div class="date-box" style="height:200px;text-align:justify">
                            <h5 style="text-align:center">Blog To Importance of Practical knowledge </h5>
                            <div>Practical–Learning means knowledge gained by implementing theory in real-life activities.Practical-Learning assists students in identifying their real interests and choose a career accordingly.</div>

                        </div>

                    </div>
                </div>

                <div class="blog-card row">
                    <div class="col-4">
                        <iframe style="height:200px;width:100%" src="https://www.youtube.com/embed/PIV6X2t6mWM?si=CLA8aPO5brxZGK1n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    </div>
                    <div class="col-8">

                        <div class="date-box" style="height:200px;text-align:justify">
                            <h5 style="text-align:center">Blog To Difference Between Java and Dot Net </h5>
                            <div>Though both Java and . Net offer various advantages to building complex business apps the major difference between them is- that Java is compatible to work on any operating system whereas Net is mainly focused on working on the different versions of Windows.</div>

                        </div>

                    </div>
                </div>

                <div class="blog-card row">
                    <div class="col-4">
                        <iframe style="height:200px;width:100%" src="https://www.youtube.com/embed/idyr_GZXUb4?si=eptkDIS_931k6Kik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    </div>
                    <div class="col-8">

                        <div class="date-box" style="height:200px;text-align:justify">
                            <h5 style="text-align:center">Blog To What is Full Stack Development </h5>
                            <div>Full-stack developers are experts in both the frontend and backend; so, the full-stack of technology that makes up a website. They are proficient in both frontend and backend languages and frameworks, as well as in server, network and hosting environments.</div>
                        </div>
                    </div>
                </div>

                <div class="blog-card row">
                    <div class="col-4">
                        <iframe style="height:200px;width:100%" src="https://www.youtube.com/embed/7xg4Njedl6g?si=Vc5ipeyXnW6L0SFf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    </div>
                    <div class="col-8">

                        <div class="date-box" style="height:200px;text-align:justify">
                            <h5 style="text-align:center">Blog To Store Employee Details. </h5>
                            <div>Explore the art of preserving invaluable employee information, complete with profile portraits, professional designations, and a glimpse into their passions.We have added video blog for guidance of candidate.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>