@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
<style>

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 18px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -50%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

<div class="container" style="padding-top:80px;text-align:justify; font-size:16px; font-family:'Bookman Old Style'">
    @* <div class="ciitmainimg">
            <img src="~/assets/Staff.png" style="height:550px;width:100%;border-radius:10px;"  />
        </div> *@
    <div class="ciitmainimg">
        <img src="../assets/Staff.png" alt="Staff Image" />
    </div>

    <h4 style="margin-top:2%;color:#007bff;padding-left:10px">
        About CIIT

    </h4>
    <div class="row" style="padding-left:10px;padding-right:10px">
        <div class="col-md-8">
            <p>
                CIIT is a leading Skills and Talent Development Corporation that is building a manpower pool for global industry requirements. CIIT is a global leader in Skills and Talent Development, offers multi-disciplinary learning management and training delivery solutions to corporations, institutions, and individuals on various technologies. CIIT has three main lines of business – Corporate Training, Skills and Careers, and School/College Learning.
            </p>
            <p>
                CIIT has been founded by a group of highly qualified professionals with an excelled expertise onto varied technological domains as a center for IT education & training with a vision to make candidates ready for IT industry from day one. We believe in in-depth perfection in whatever we do and we strive to bring it alive through CIIT. CIIT’s training proved that every candidate from fresher to experience got trained on latest IT requirements and became first choice for industries.


            </p>

        </div>
        <div class="col-md-4" style="text-align:center">
            <img src="~/assets/mainlogo.png" style="width:100%;padding-top:30px;" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Our highly dedicative staff comes together as a unified team and thrive day and night to achieve the high standards that we have set for ourselves towards your progress. CIIT understand and believe that just as an organization needs the right talent to drive its business objectives, people need the right environment to grow and achieve their career goals. The moment you step into CIIT, you would be greeted with the feeling of being at the right place. Along with that, CIIT affords you with a sense of successful and rewarding career that would be driven by boundless growth opportunities and exposure to cutting-edge technologies and learning possibilities. Each of these elements goes much deeper than what it conveys.
            </p>
            <p>
                At CIIT, the focus is more on practical exposure through "Employment” and making every individual well versed with the industry standards. This helps in reducing the time, effort and costs for an organization that looks forward to hire these skilled resources on their training.

            </p>
            <p>
                At CIIT Training Institute, we are committed to helping our students reach their goals and objectives. We strive to provide a positive learning experience for our students and help them find success in their chosen field. We also provide a range of Full Stack Development Training with Stippend till get place.Our commitment to providing quality services and training has resulted in our success in the IT industry. We have seen rapid growth over the years, with many satisfied customers and students. Our success has been recognized by the industry and our peers, with the opening total three branches(Hadapsar,VimanNagar,J M Road). At CIIT Training Institute, we are committed to providing a professional and supportive learning environment for our students. We pride ourselves on our dedication to our clients, providing 100% placement assistance to every student who enrolls in our courses. We also provide flexible payment options to suit all budgets, so that no one is excluded from learning new skills. We strive to stay up to date with the latest industry trends and use the latest technologies to provide our students with the best possible experience. Our team of experienced instructors and professionals are always available to provide guidance and support to ensure that our students have the best experience possible.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="~/assets/images/ourmission.png" />
        </div>
        <div class="col-md-6">
            <h4 style="color:#007bff;padding-top:30px">Our Mission</h4>

            <p>
                Our mission is to train candidates on real time project and make them job ready with real time experience so that every student or working professional associated us can become first choice of IT industry.
                We will always be dedicated to develop their right skills with right and updated knowledge to make their career a successful.
            </p>
            <h4 style="color:#007bff">Our Vision</h4>

            <p>
                Empowering candidates to be future-ready and future-secure with gauranteed career in IT Industry also  create an immersive online platform that seamlessly connects users with valuable resources, fostering collaboration, innovation, and empowerment.
            </p>
        </div>
    </div>
    <div>
        <br />
        <div style="height:30px;width:100%;background-color:#007bff;color:white;text-align:center">
            <h4>Key Points - Why CIIT?</h4>
        </div>
        <br />



        <div class="row">
            <div class="col-md-2">
                <img src="~/assets/images/success.jpg" class="rounded-circle" style="height:150px;width:150px;" alt="Sample Image">
            </div>
            <div class="col-md-10">
                <h4 style="color:#007bff">Success Guarantee</h4>
                <p>
                    At CIIT one can guarantee about the quality of education as we follow well designed processes that take care of every minute details of education delivery. The most important aspect for each course is the trainer. All our trainers are essentially from industries and have real life industry background and thus they are adept with the latest technologies being used. We take regular student feedback and we value the same. We take them very sportingly and we work hard towards getting those flaws fixed. This proves that we value your voices and embrace transparency. Our intentions are not "MASS Training" but "CLASS Training". Hence it’s imperative for the candidates to embark on a selection test prior to enrolling for a program. Only the shortlisted candidates are ascertained to make their mark as a CIIT student thus ensuring the quality of the student intake. Apart from doing all this technological know how we work very hard on the soft skill training part for every student. By doing this, we assure that our students are not only technologically sound but they are also presentable and can fulfil the requirement of every employer from business etiquettes, client communication, and attitude, teamwork perspective.
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <img src="~/assets/images/100placement.png" class="rounded-circle" style="height:150px;width:150px;" alt="Sample Image">
            </div>
            <div class="col-md-10">
                <h4 style="color:#007bff;text-align:left">100% Industry Oriented Training</h4>
                <p>
                    In you want to get job immediatly , you have to learn each and every thing pratically.CIIT provide you best way to learn any technology practically. Our training happens 100% practically. During training sessions we take hardly 10-15 min concept explaination after that we show how that thing use in real project with real time example. So student get confidence and they get real experience.
                </p>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-md-2">
                <img src="~/assets/images/dev team.png" class="rounded-circle" style="height:150px;width:150px;" alt="Sample Image">
            </div>
            <div class="col-md-10">
                <h4 style="color:#007bff;text-align:left">Chance to Work with Our Development Team</h4>
                <p>
                    We have our own development team for all technologies , so our student get chance to work with our experienced developers on varo=ious technologies. If student work with our team then they comes to know how actual project get develope and how technology and concepts get used. If student work on real project then there will be more chance fo their job in well reputed companies.
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <img src="~/assets/images/experience.jpg" class="rounded-circle" style="height:150px;width:150px;" alt="Sample Image">
            </div>
            <div class="col-md-10">
                <h4 style="color:#007bff;text-align:left">Highly Experienced Trainers</h4>
                <p>
                    In CIIT , every student will trained by highly experienced trainers with 12+ Years of experience in Training & Development field on varous technologies.
                </p>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-2">
                <img src="~/assets/images/counselling.png" class="rounded-circle" style="height:150px;width:150px;" alt="Sample Image">
            </div>
            <div class="col-md-10">
                <h4 style="color:#007bff">Career Counselling</h4>
                <p>
                    We at CIIT, provide the guidance by qualified professionals, after assessing the intelligence, interest and personality of an individual to identify the careers in which the individual will succeed and counsel him/her accordingly. It helps students to select courses based on their level of intelligence, interests, personality and to prepare for appropriate careers. Our primary purpose is to guide you how to explore and investigate your inner potential and overcome your weaknesses. Interest inventories and career tests will not tell you what you could or should do. They will, however, help you organize your thoughts and ideas about the career path that you would like to choose for yourself. Our counselor will review the results with you and guide you in gaining a better understanding of what courses would be suitable for you based on your level of personal interest and capabilities. Making an optimal career choice has been and remains one of the major objectives of career counseling at CIIT.
                </p>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-2">
                <img src="~/assets/images/industry.jpg" class="rounded-circle" style="height:150px;width:150px;" alt="Sample Image">
            </div>
            <div class="col-md-10">
                <h4 style="color:#007bff">Industry Interaction</h4>
                <p>
                    Industry Interaction is an integral part of every program at CIIT. We always believe that only education is not sufficient to get you in the industry for a job, but a right mix of industrial knowledge is also important. Hence we always focus more on the industry interaction. For this we do following activities.
                </p>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:10px"></div>


